@import './../../styles/base';

#root > [data-reactroot] {
    .simulator.france {
        & .settings {

            & .container_simulator {
                // height: 635px;
                overflow-y: hidden;
                padding: 20px 10px 20px 10px;
            }

            &__block {
                display: flex;
                flex: 0 0 50%;
                padding: 0 5px;

                & > .counter_with_icons {
                    margin-right: 5px;
                    flex: 0 0 calc(50% - 5px);
                    width: 50%;
                }

                &  > .counter_with_icons + .counter_with_icons {
                    margin-left: 5px;
                }

            }

            &-salary {
                background: $soxo-blue-light;
                border-radius: 20px 20px;
                padding: 40px 30px 70px 30px;
                width: calc(100%);
                height: 100%;

                display: flex;
                flex-direction: column;

                & .simulator-label {
                    text-align: center;
                    color: $soxo-blue-light;
                    max-width: 100%;
                    padding: 0 0 40px 0;
                }
            }
        }

        & .results {
            background-image: url('./../../images/wave.svg');

            &__full {

                & .doughnut  {
                    height: 275px;

                    &_content {
                        padding: 30px 0;
                        max-width: 150px;
                        max-height: 150px;
                    }

                    p.customTextTop {
                        font-size: 25px;
                    }

                    p.customTextBottom {
                        font-size: 13px;
                    }

                    text.percentage {
                        display: none;
                    }
                }
            }

            &-title {
                margin-bottom: 0px;
            }

            &-toggle {
                & .toggle {
                    font-size: 12px;
                }
            }

            &-subtitle {
                font-size: 14px;
                font-weight: $bold;
                color: white;
                text-align: center;
                &:after {
                    content: '';
                    display: flex;
                    margin: 20px auto 20px auto;
                    height: 4px;
                    width: 33px;
                    background: #fff;
                    /* position: absolute; */
                    transform: rotate(180deg);
                }
            }

            &-list {
                li {
                    margin-bottom: 15px;
                }

                li:nth-child(3) {
                    margin-bottom: 0px;
                }
            }

            &-more {
                display: flex;
                color: white;

                li {
                    flex: 0 0 50%;
                    & .results {
                        &-label {
                            font-size: 14px;
                            margin-bottom: 15px;
                            max-width: 130px;
                            line-height: 17px;
                        }

                        &-value {
                            font-size: 20px;
                            font-weight: $bold;

                            padding: 12px 12px 12px 0;
                        }

                        &-important {
                            background: $soxo-red;
                            border-radius: 12px 12px;
                            padding: 12px;
                            display: inline-flex;
                        }
                    }


                    &:first-child {
                        & .results {
                            &-label {
                                font-size: 14px;
                                margin-bottom: 15px;
                                padding-right: 15px;
                                flex: wrap;
                            }
                        }
                    }
                }
            }
        }
    }

    .callToAction {
        &-groupLinks:first-child {
            & > a {
                &:before {
                    background: url('./../../images/download.svg') no-repeat center center;
                }

                &:last-child {
                    &:before {
                        background: url('./../../images/mail.svg') no-repeat center center;
                    }
                }
            }
        }
    }
}

// Usage
@media (max-width: $screen-md-max) {

    #root > [data-reactroot] {
        max-height: 100%;

        .simulator.france {

            & .settings {
                flex: 0 0 60%;

                & .container_simulator {
                    height: 100%;
                }


                &__block {
                    display: flex;
                    flex: none;
                    padding: 0 5px;
                }

                &-salary {
                    background: $soxo-blue-light;
                    border-radius: 10px 10px;
                    padding: 20px 15px 35px 15px;
                    width: calc(100%);
                    height: 100%;

                    display: flex;
                    flex-direction: column;

                    & .simulator-label {
                        text-align: center;
                        color: $soxo-blue-light;
                        max-width: 100%;
                        padding: 0 0 40px 0;
                    }
                }

            }

            & .results {

                &-toggle {
                    & .toggle {
                        width: 136px;
                        font-size: 12px;


                        &:before {
                            width: 64px;
                        }

                        &-true,
                        &-false {
                            width: 64px;
                        }

                        &-checked {
                            &:before {
                                left: 64px;
                            }
                        }
                    }
                }

                &__mobile {

                    &_summary {
                        padding: 30px 5px 0px;

                        &_doughnut {
                             svg {
                                 left:0;
                             }
                        }

                        &_content {
                            &-percentage {
                                font-size: 20px;
                                display: flex;
                                align-self: center;
                            }
                        }
                    }

                    &_full {
                        & .doughnut  {
                            &_content {
                                max-width: 100px;
                                max-height: 100px;
                                padding: 10px 0;
                                top: calc(50%);
                            }

                            .percentage {
                                display: none;
                            }

                            p.customTextTop {
                                font-size: 18px;
                            }

                            p.customTextBottom {
                                font-size: 10px;
                            }
                        }
                    }
                }


                &-more {
                    display: flex;
                    color: white;

                    li {
                        flex: 0 0 50%;
                        & .results {
                            &-label {
                                font-size: 12px;
                                margin-bottom: 5px;
                                max-width: 130px;
                                line-height: 17px;
                            }

                            &-value {
                                font-size: 14px;
                                font-weight: $bold;

                                padding: 12px 12px 12px 0;
                            }

                            &-important {
                                background: $soxo-red;
                                border-radius: 12px 12px;
                                padding: 12px;
                                display: inline-flex;
                            }
                        }


                        &:first-child {
                            & .results {
                                &-label {
                                    font-size: 12px;
                                    margin-bottom: 5px;
                                    flex: wrap;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
