@import './../../styles/base';

#root > [data-reactroot] { 
    .callToAction {
        &-groupLinks:first-child {
            & > a { 
                &:before {
                    background: url('./../../images/download.svg') no-repeat center center;
                }
                
                &:last-child {
                    &:before {
                        background: url('./../../images/mail.svg') no-repeat center center;
                    }
                }
            }
        }
    }

    .simulator.spain {
        & .settings {

            & .counter-hidden {
                display: none;
            }

            & .show-counter {
                display: flex;
            }

            &#results {
                position: relative;
            }

            & .container_simulator {
                height: 570px;
            }


            &__aboutYou {
                background: $soxo-blue-light;
                border-radius: 20px 20px;
                padding: 22px 30px;
                
                margin-bottom: 10px;
                
                &--block {
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 20px;
                    
                    & > div {
                        margin-right: 10px;
                        margin-bottom: 20px;
                        text-align: center;
                        flex-direction: column;
                        display: flex;
                        justify-content: flex-end;
                    }
                }

                & > .settings__aboutYou--block + .settings__aboutYou--block {
                    
                    display: block;
                    // margin-bottom: 55px;
                    margin-bottom: 35px;

                    p.simulator-label {
                        margin-bottom: 47px;
                    }
                }

                .rc-slider {
                    margin-top: 60px;
                }
            }

            &__products {
                .products {
                    & .formación-pass {
                        // & .product__content {
                        //     & > div:nth-child(2),
                        //     & > div:nth-child(3) {
                        //         display: none;
                        //     }
                        // }
                    }
                }
            }
        }

        & .results {
            background-image: url('./../../images/wave.svg');
            &__full {
                
                & .doughnut  {
                    height: 275px;

                    &_content {
                        padding: 50px 0;
                        max-width: 150px;
                        max-height: 150px;
                    }

                    p.customTextTop {
                        font-size: 13px;
                    }

                    p.customTextBottom {

                        font-size: 25px;
                    }

                    text.percentage {
                        display: none;
                    }
                }
            }

            &-list {
            
            }
        }

        .counter {
            &-input {
                width: calc(100% - 50px);
            }
        }
    }
}


// Usage
@media (max-width: $screen-md-max) { 
    #root > [data-reactroot] { 
        .simulator.spain {
            
            &_mobile-open {
                overflow: hidden;
            }

            & .settings {

                & .container_simulator {
                    height: 100%;
                }
                
                //margin-top: 15px;
                height: auto;

                &__aboutYou { 

                    border-radius: 10px 7px;
                    padding: 10px 20px;
                    
                    &--block {
                        & > div {
                            width: 100%;
                            margin-right: 0px;
                            margin-bottom: 11px;
                            text-align: left;
                            flex-direction: row;
                            display: flex;
                            justify-content: space-between;

                            & .simulator-label {
                                // margin-bottom: 10px;
                            }

                            .counter {
                                width: 50%;
                            }
                        }
                    }

                    & > .settings__aboutYou--block + .settings__aboutYou--block,
                    & > .settings__aboutYou--block  .settings__aboutYou--block  {
                        
                        display: block;
                        margin-bottom: 55px;

                        p.simulator-label {
                            text-align: center;
                            max-width: 100%;
                            width: 100%;
                            margin-bottom: 41px;
                            font-size: 12px;

                            &:before {
                                content: " ";
                                height: 1px;
                                background: #8d96ca;
                                display: block;
                                width: 100%;
                                margin-bottom: 25px;
                            }
                        }
                    }
                }

                // CHROME
                .rc-slider-handle {
                    top: -5px;
                }

                // IE 11
                _:-ms-fullscreen, :root .rc-slider-handle {
                    top: 4px !important;
                }
                
                // FIREFOX
                _:-moz-tree-row(hover), .rc-slider-handle {
                    top: -5px !important;
                }
                
                // SAFARI
                _::-webkit-full-page-media, _:future, :root .rc-slider-handle {
                    top: 10px !important;
                }
                
            }

            & .results {
                
                &__mobile {

                    &_summary {
                        padding: 15px 15px 0px 15px;
                        margin-bottom: -15px;

                        &_content {

                            &-percentage {
                                font-size: 20px;
                            }

                        }
                    }

                    &_full {
                        & .doughnut  {
                            &_content {
                                max-width: 100px;
                                max-height: 100px;
                                padding: 20px 0;
                                top: calc(50%);
                            }

                            .percentage {
                                display: none;
                            }
            
                            p.customTextTop {
                                font-size: 12px;
                            }
            
                            p.customTextBottom {
                                font-size: 18px;
                            }
                        }
                    }
                } 
            }
        }
    }
}
