body {
  color: $soxo-grey-dark;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.no-scroll {
    overflow: hidden;
  }
}

#page {
  padding-top: $combined-nav-height;
}

@include media-breakpoint-up(md-max) {
  .home #page {
    padding-top: 0;
  }
}

.breadcrumb {
  max-width: 1010px;
  margin: 0 auto;
  background-color: transparent;
  font-size: 14px;
  color: $soxo-grey-dark;
  a {
    color: $soxo-grey-dark;
    font-weight: bold;
    text-decoration: underline;
  }
}

// Override site width
@include media-breakpoint-up(md-max) {
  .container {
    width: 1010px !important;
  }
}

// Site bootstrap modale
.modal {
  .modal-content {
    border: 0;
    border-radius: 15px;
    .modal-header {
      border-bottom: 0;
    }
    .modal-footer {
      border-top: 0;
      .btn.btn-default {
        border: 0;
        font-size: 12px;
        display: inline-block;
        color: #fff;
        text-transform: uppercase;
        border-radius: 20px;
        padding: 7px 30px;
        margin-top: 10px;
        line-height: 24px;
        background-color: $soxo-red;
        transition: all .6s;

        &:hover {
          background-color: $soxo-red-dark;
        }
      }
    }
  }

  &#typeformModal {
    @include media-breakpoint-down(md-max) {
      padding-right: 0 !important;
    }
    &.show {
      display: flex !important;
      align-items: center;
      justify-content: center;
    }
    .modal-dialog {
      border-radius: 28px;
      width: 92%;
      max-width: 830px;
      max-height: 486px;
      @include media-breakpoint-down(md-max) {
        border-radius: 0;
        max-height: 100%;
        height: 100%;
        max-width: 100%;
        width: 100%;
        margin: 0 !important;
      }

    }
    .modal-content {
      width: 100%;
      max-width: 830px;
      border-radius: 8px;
      @include media-breakpoint-down(md-max) {
        border-radius: 0;
        height: 100%;
        max-width: 100%;
        //width: 100%;
      }
    }
    .modal-header {
      padding: 0;
      .close {
        background-color: $soxo-red;
        border: 2px solid #fff;
        border-radius: 50%;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.35);
        height: 27px;
        top: -9px;
        left: -10px;
        outline: none;
        padding: 0;
        position: absolute;

        width: 27px;
        z-index: 10;
        opacity: 1;
        text-shadow: none;
        display: flex;
        align-items: center;
        justify-content: center;
        @include media-breakpoint-down(md-max) {
          display: none;
        }
        &:before {
          color: #fff;
          content: '\e815';
          font-family: "soxo-icons";
          font-size: 13px;
          //left: 50%;
          //position: absolute;
          //top: 50%;
          //transform: translate(-50%, -50%);
        }
        .sr-only {
          display: none;
        }
      }
    }
    .modal-body {
      padding-left: 0;
      padding-right: 0;
      padding-top: 24px;
      margin-bottom: 15px;
      max-height: 450px;
      overflow: hidden;
      /*&.apple, */
      &.ajax {
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        max-height: 89vh;
        height: 450px;
        position: relative;
        @include media-breakpoint-down(md-max) {
          max-height: 100%;
        }
        iframe {
          //height: 100%;
          //top: 0;
          //left: 0;
          //position: absolute;
          //width: 100%;
          display: none;
        }
        .ajax-loaded {
          position: relative;
        }
      }
      @include media-breakpoint-down(md-max) {
        max-height: 100%;
        height: 100%;
        iframe {
          max-height: 100%;
          height: 100%;
        }
      }
    }

  }
}

/* HAMBURGER ICONS COMPONENT */

// vars

$button-width: 35px; // The width of the button area
$button-height: 31px; // The height of the button area
$bar-thickness: 3px; // The thickness of the button bars
$button-pad: 0; // The left/right padding between button area and bars.
$button-bar-space: 9px; // The spacing between button bars
$button-transistion-duration: 0.3s; // The transition duration

.soxo-hamburger {
  display: block;
  position: relative;
  overflow: visible;
  margin: 0;
  padding: 0;
  width: $button-width;
  height: $button-height;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  transition: background $button-transistion-duration;
  background-color: rgb(255, 255, 255);

  &:focus {
    outline: none;
  }

  span {
    display: block;
    position: absolute;
    top: ($button-height / 2) - ($bar-thickness / 2);
    left: $button-pad;
    right: $button-pad;
    height: $bar-thickness;
    background: none;
    transition: background 0s $button-transistion-duration;

    &::before,
    &::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: $bar-thickness;
      background-color: $soxo-blue;
      content: "";
      transition-duration: $button-transistion-duration, $button-transistion-duration;
      transition-delay: 0s, $button-transistion-duration;
    }

    &::before {
      top: 0;
      transform: rotate(45deg);
      transition-property: top, transform;
    }

    &::after {
      bottom: 0;
      transform: rotate(-45deg);
      transition-property: bottom, transform;
    }

  }

  &.collapsed {

    span {
      background: $soxo-blue;

      &::before,
      &::after {
        transform: rotate(0);
        transition-delay: $button-transistion-duration, 0s;
      }

      &::before {
        top: -$bar-thickness - $button-bar-space;
      }

      &::after {
        bottom: -$bar-thickness - $button-bar-space;
      }

    }
  }
}

.soxo-download-icon {
  text-decoration: underline;
  color: inherit;

  &:hover,
  &:focus {
    color: inherit;
  }

  &::before {
    content: '\e817';
    font-family: "soxo-icons";
    font-size: 1.4em;
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: none;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &.soxo-download-icon-white {
    color: #fff;
  }
}

.soxo-check-icon {
  color: inherit;

  &::before {
    content: '\e816';
    font-family: "soxo-icons";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: none;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

}

/*#accordion-faq {*/
.panel-group {
  .panel {
    margin-bottom: 60px;

    a.faq-title {
      color: $soxo-grey-dark;
      font-size: 20px;
      font-weight: 600;
      padding-right: 80px;
      display: block;
      position: relative;

      &::after {
        position: absolute;
        right: 0;
        top: -10px;
        content: '-';
        color: $soxo-red;
        font-weight: 300;
        font-size: 40px;
        display: inline-block;
        text-decoration: none;
      }

      &.collapsed::after {
        content: '+';
      }

      &:hover,
      &:focus {
        color: inherit;
        text-decoration: none;
      }

    }

    p {
      margin: 0;
      padding: 15px 0;
    }

    a.faq-title {
      p {
        padding: 0;
      }
    }

  }

}

@include media-breakpoint-down(sm) {

  /*#accordion-faq {*/
  .panel-group {
    .panel {
      a.faq-title {
        font-size: 14px;
      }

      &-body {
        font-size: 12px;
      }
    }

  }
}

.menu-modal {
  width: 100vw;
  .modal-dialog {
    width: 90%;
    .modal-content {
      border-radius: 30px;
      border: 0;
      .modal-header {
        padding: 20px;
        h5 {
          text-transform: uppercase;
        }
      }
      .modal-body {
        padding: 15px;
        > ul {
          list-style-type: none;
          padding-left: 0;

          li {

            a {
              color: #000;
              text-transform: uppercase;
              padding: 15px;
              border-top: 1px solid $soxo-grey-light;

              &:hover,
              &:focus,
              &.active {
                background-color: $soxo-grey-light;
              }
              &.faq-topic-active {
                font-weight: bold;
                color: $soxo-blue;
              }
            }
          }
        }
      }
    }
  }
}

.ekko-lightbox .modal-dialog {
  top: 50% !important;
  transform: translateY(-50%) !important;
}

body .bg-grey {
  background-color: $soxo-grey-light;
}

.prevent-scroll {
  overflow: hidden;
  position: fixed;
  width: 100%;
}

ul.row li {
  display: block;
}

.sodexo-pretitle {
  & + .choose-sodexo--container {
    margin-top: 60px;
  }
}

#two-blocks {
  display: flex;
  .choose-sodexo {
    padding: 0 0 40px;
    &--two_blocks {
      height: 100%;
    }
  }
}

@include media-breakpoint-down(sm) {
  #two-blocks {
    flex-direction: column;

    .choose-sodexo {
      padding: 15px 0;
    }
  }
  div.aff_container.cc div.popin div.inner {
    margin-top: 80px !important;
  }
}

// remove autofill color on webkit browsers
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: 0 0 0 1000px white inset !important;
}

input,
textarea {
  font-family: inherit;
}

#typeformModal {

  iframe {
    border: 0;
    width: 100%;
    min-height: 450px;

  }
}

.gf-iframe {
  .gform_wrapper {
    margin-top: 0;
    ul.gfield_checkbox.fixed {
      display:flex;
      flex-wrap: wrap;
      li {
        label {
          border: 3px solid #23337f !important;
          //border: 3px solid $soxo-blue-ocean !important;
          border-radius: 25px;
          height: 185px;
          width: 185px;
          overflow: hidden;
          color: #23337f;
          //color: $soxo-blue-ocean;
          transition: all .3s;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-top: 10px;
          .image-choices-choice {
            &-image {
              max-height: 115px;
              display: block;
            }
            &-text {
              width: 100px;
              display: block;
              text-align: center;
              font-size: 12px;
            }
          }

          &:hover {
            background-color: #23337f;
            //background-color: $soxo-blue-ocean;
            color: #fff;
            font-weight: normal;
          }
        }
        input {
          display: none;
          &:checked {
            + label {
              background-color: #23337f;
              //background-color: $soxo-blue-ocean;
              color: #fff;
              font-weight: normal;
            }
          }
        }
      }
    }
  }
  .overlay-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      color: $soxo-blue;
      min-height: 2em;
      display: block;
      position: relative;
      font-size: 1.3em;
      font-weight: bold;
      &:after {
        height: 3px;
        width: 86%;
        position: absolute;
        content: " ";
        left: 7%;
        bottom: 0;
        background-color: $soxo-red;
      }
    }
  }

  form {
    .gform_title {
      > div {
        color: #fff;
        span {
          position: relative;
          font-size: 23px;
          font-weight: bold;
          &:after {
            height: 4px;
            width: 86%;
            position: absolute;
            content: " ";
            left: 7%;
            bottom: -20px;
            background-color: $soxo-red;
          }
        }
      }
    }
    &:not(.no-cta-style) {
      .gform_heading {
        position: absolute;
        top: 0;
        //min-height: 130px;
        display: flex;
        align-items: center;
        .gform_title {
          width: 100%;
          margin: 0;
          position: static;
          > div {
            display: inline-block;

          }
        }
      }
    }
  }

  .image-wrapper + .gform_wrapper {
    form:not(.no-cta-style) {
      .gform_heading {
        min-height: 2.1em;
        position: relative;
      }

    }
  }

  .only-title-wrapper + .gform_wrapper {
    form:not(.no-cta-style) {
      .gform_heading {
        height: 2.1em;
        position: relative;
        margin-bottom: 38px;
      }
    }
  }

  .only-title-wrapper {
    height: 0;
    &.has-title {
      width: 100%;
      height: 5em;
      position: relative;
    }
  }

  .image-wrapper {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .overlay-title {
      span {
        color: $soxo-blue;
      }
    }
    .di {
      &[src*="gf-img.png"] {
        //this image have a border-radius not defined by css
        background-color: #2e2f2b;
      }
    }
  }

}

.ui-autocomplete {
  background-color: #fff;
  z-index: 99999;
  max-width: 500px;
  .ginput_container & {
    position: absolute;
  }
}

#mail-pdf-form {
  .loader {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
