.menu .icons-selector .selector-popup {
  position: relative;
  padding-bottom: 15px;
}

.menu .fip-grey.icons-selector .selector-arrows i {
  color: #777;
}

.option-font-icons ul {
  list-style: initial;
  margin-left: 25px;
}
