#wrapper-faq {

	.sodexo-title{
		font-size: 45px;
		padding-top: 60px;
	}

	.modal-header {
		border-bottom: none;
		padding-bottom: 0;
		color: $soxo-blue-dark;
		font-weight: 600;
	}

	.modal-body {
		a {
			&:hover,
			&:focus {
				text-decoration: none
			}
		}
	}



	.faq_filter {

		&-description {
			margin: 0 auto;
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 60px;
		}

		&-buttons {
			a {
				text-align: center;
			}
		}

		&_topic {
			&-title {
				font-weight: 600;
				color: $soxo-blue-dark;
				margin: 80px 0 40px 0;
			}
		}

		& .menu-modal  {
			& .modal-dialog {
				width: initial;
			}
		}
	}


	.fake-select {
		padding: 0;
		width: 100%;
		text-align: center;
		background-color: none;

		&_content {
			a {
				text-decoration: none;
				// display: inline;
				color: $soxo-grey-dark;
				line-height: 35px;
				border-radius: 25px;
				//padding: 12px 20px 10px;
				border: 1px solid $soxo-grey-dark;
				font-weight: normal;
				text-transform: uppercase;

				width: 100%;
				display: flex;
				justify-content: space-between;
				padding: 0 20px;


				&:hover,
				&:focus {
					text-decoration: none
				}


				span {
					padding-right: 0;
				}

				.icon::before {
					font-size: 20px;
				}
			}
		}
	}

	.btn-sodexo-faq {
		margin: 10px;
		&-filter {
			min-width: 230px;
			padding: 30px 15px;
		}

		&-topic {
			min-width: 230px;
			padding: 20px 15px;
		}


	}

	& + #wrapper-search {
		.sodexo-title{
			font-size: 45px;
			padding-top: 60px;
		}

		.search-items {
			.panel-group {
				.panel {
					padding: 30px 0 30px 0;
				}
			}

			& > div:last-of-type {
				& > div:last-of-type {
					border-bottom: none;
				}
			}
		}
	}
}

#wrapper-search {

	padding: 0 10px;
	strong {
		font-weight: 600
	}

	.sodexo-title{
		font-size: 30px;
		padding-top: 60px;
	}

	.search-items  {
		margin-bottom: 15px;

		.panel-group {
			margin: 0;
			padding: 0;


			.panel {
				border-bottom: 1px $soxo-grey solid;
				margin: 0;
				padding: 10px 0 30px 0;

				&-title {
					margin: 0;
				}

				&-body {
					& > p:last-of-type {
						padding-bottom: 0;
					}
				}


				a.faq-title {
					&::after {
						height: 100%;
						/*transform: translateY(calc(50% - 10px));*/
					}

					p {
						padding: 0;
					}
				}
			}
		}

		& > div:first-of-type {
			margin: 0;
			padding: 0;
		}

		& > div {
			& > div {
				border-bottom: none;
			}
		}

		article {
		 	& > div:first-child {
				margin: 15px 0 0 0;
			}

			& > p {
				& + div {
					margin: 0;
				}
			}
		}

		& .post-content {
			border-bottom: 1px #d8d3cf solid;
			margin: 0;
			padding: 10px 0 30px 0;
			& .post-heading {
				& .search-title {
					color: $soxo-grey-dark;
					font-size: 20px;
					font-weight: 600;
					padding-right: 80px;
					display: block;
					position: relative;
					text-decoration: none;
				}
			}
		}


		article:last-of-type {
			.panel {
				border-bottom: none;
			}
		}
	}



	.search-paginate{
		padding:15px 0 55px 0;

		.page-numbers {

				text-decoration: none;

				&:hover,
				&:focus {
					text-decoration: none;
				}


				&:not(.next):not(.prev) {
					height: 30px;
					width: 30px;
					background:$soxo-grey-light;
					border-radius: 50%;
					display: inline-block;
					margin: 0 3px;
					line-height: 12px;
					padding-top: 10px;
					font-size: 12px;
					color: $soxo-black;
					transition: background-color .6s;

					&:hover:not(.dots){
						background: $soxo-grey;
					}


					&.current{
						background: $soxo-blue;
						color:$soxo-white;
						&:hover{
							background: $soxo-blue;
						}
					}
			}

			&.dots {
				display: none;
				& + a {
					display: none;
				}
			}

			&.next,
			&.prev {
				font-size: 0;
				position:relative;
				&:after {
					position:absolute;
					top:-22px;
					font-size: 25px;
					color: $soxo-blue;
				}
			}

			&.next {
				&:after {
					left:3px;
					content: ">";
				}
			}

			&.prev {
				&:after {
					left:-20px;
					content: "<";
				}
			}

		}
	}

	.search-page-filters {
		h5 {
			text-transform: uppercase;
			color: $soxo-blue;
			font-weight: bold;
			font-size: 16px;
		}
		ul.search-page-filters--items {
			list-style-type: none;
			padding: 0;
			li {
				display: block;
				padding: 4px 0;
				clear: both;
				a {
					float: left;
					color: $soxo-grey-dark;
					&:hover,
					&:focus {
						color: $soxo-grey-dark;
					}
				}
				span {
					color: $soxo-blue;
					float: right;
					font-weight: bold;
				}
			}
		}

	}


}













@include media-breakpoint-down(sm) {

	#wrapper-faq {

		.sodexo-title{
			font-size: 20px;
			padding: 15px 0 20px;

			&:after {
				width: 58px;
				height: 2px;
				margin: 13px auto 0 auto;
				background-color: #ed424a;
			}
		}



		.faq_filter {

			&-description {
				font-size: 12px;
				line-height: 15px;
				margin-bottom: 20px;
			}

			&-description {
				margin-bottom: 30px;
			}

			&_topic {
				&-title {
					font-size: 12px;
					margin: 40px 0 20px 0;
				}
			}
		}

		& + #wrapper-search {
			.sodexo-title{
				font-size: 20px;
				padding: 15px 0 30px;
				&:after {
					width: 58px;
					height: 2px;
					margin: 13px auto 0 auto;
					background-color: #ed424a;
				}
			}

			.search-items {
				.panel-group {
					.panel {
						padding: 15px 0;
						& .search-title {
							a {
								font-size:12px;
							}
						}
					}
				}

				& > div:first-of-type {
					& > div:first-of-type {
						padding-top: 0
					}
				}

				& > div:last-of-type {
					& > div:last-of-type {
						border-bottom: none;
					}
				}
			}
		}
	}

	#wrapper-search {
		.sodexo-title{
			font-size: 20px;
			padding: 15px 0 30px;
			&:after {
				width: 58px;
				height: 2px;
				margin: 13px auto 0 auto;
				background-color: #ed424a;
			}
		}

		.search-items {

			.post-content {
				padding: 15px 0;
				.post-heading {
					.post-title{
						a {
							font-size: 14px;
						}
					}
				}

				.search-body {
					font-size: 12px;
				}
			}

			.panel-group {
				.panel {
					padding: 15px 0;
					& .search-title {
						a {
							font-size:12px;
						}
					}
				}
			}
		}
	}


	.page-numbers {
		&:not(.next):not(.prev) {
			height: 25px !important; // TO MODIFY
			width: 25px  !important; // TO MODIFY
			display: inline-block;
			margin: 0 3px;
			line-height: 11px !important; // TO MODIFY
			padding-top: 8px !important; // TO MODIFY
			font-size: 10px !important; // TO MODIFY
			color: white;
		}

		&.dots {
			display: none;
			& + a {
				display: none;
			}
		}

		&.next,
		&.prev {
			font-size: 0;
			&:after {
				padding: 0;
				font-size: 16px;
				color: $soxo-grey-dark;
			}
		}

		&.next {
			&:after {

				content: ">";
			}
		}

		&.prev {
			&:after {
				content: "<";
			}
		}

	}
}
