/* home page banner image + video */
.banner-home {
  position: relative;
  text-align: center;
  width: 100%;

  &.lighten {
    .banner-home-text {
      color: #000;
      h1,
      h2 {
        color: #000;
      }
      a {
        color: #000;
      }

      &::before {
        background-color: #000;
      }
    }
    .banner-home-type {
      &::after {
        background-color: rgba(255, 255, 255, .2);
      }
    }
  }

  .banner-home-text {
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    font-size: 14px;
    font-weight: 300;
    color: #FFF;

    h1,
    h2 {
      margin: 0;
      padding: 0;
      font-size: 14px;
      font-weight: 300;
      color: #FFF;
    }

    a {
      color: #FFF;
    }

    &::before {
      position: absolute;
      top: -20px;
      left: 0;
      right: 0;
      margin: 0 auto;
      display: block;
      content: "";
      background-color: #FFF;
      width: 75px;
      height: 4px;
    }
  }

  .banner-home-type {
    max-height: 550px;
    overflow: hidden;
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      width: 100%;
      height: 100%;
      display: block;
      background-color: rgba(0, 0, 0, .4);
    }

    .banner-home-type-image {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      &-alt {
        display: none;
      }

      img {
        width: 100%;
        height: auto;
      }

    }

    .banner-home-type-video {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      .banner-home-type-video-container {
        position: relative;
        // fix to center youtube iframe
        top: 50%; // original value = 0%;
        margin-top: -10%;
        // fix to center youtube iframe
        padding-bottom: 56.25%; // original format = 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
        height: auto;

        iframe,
        object,
        embed {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          pointer-events: none;
        }

      }

    }

  }

  &.banner-life-quality {

    &.lighten {
      .banner-home-text {
        color: #000;
        h1,
        h2 {
          color: #000;
          &::before {
            background-color: #000;
          }
        }
      }
    }

    .banner-home-text {

      h1,
      h2 {
        position: relative;
        &::before {
          position: absolute;
          bottom: -30px;
          left: 0;
          right: 0;
          margin: 0 auto;
          display: block;
          content: "";
          background-color: #FFF;
          width: 75px;
          height: 4px;
        }
      }

      &::before {
        display: none;
      }
    }

    p.subtitle {
      margin-top: 40px;
      font-size: 12px;
      font-weight: 300;
    }

  }

  &-cta-zone {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: 10px;
    transition: all .3s ease-in-out;
    &.hidden {
      visibility: hidden;
    }
    .inner-wrapper {
      position: relative;
      display: flex;
      height: 100%;
      width: 100%;
      .column {
        width: calc(100% / 3);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .row {
          display: flex;
          height: 42px;
          align-items: center;
          justify-content: center;
          a {
            margin: 0;
          }
        }
      }
    }
  }
}

.multilingue {
  text-align: center;
  margin-left: 20px;
  white-space: nowrap;
}

@include media-breakpoint-up(lg) {
  .banner-home-cta-zone {
    .inner-wrapper {
      .column {
        justify-content: space-around;
        padding-bottom: 33px;
      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .banner-home-cta-zone {
    display: none;
  }
}

@include media-breakpoint-down(sm) {
  .banner-home-cta-zone {
    a {
      transform: scale(.85);
    }
  }
}

@include media-breakpoint-up(md) {
  .banner-home {
    .banner-home-text {
      font-size: 25px;
      h1,
      h2 {
        font-size: 25px;
      }
      p.subtitle {
        margin-top: 45px;
        font-size: 16px;
      }
    }

  }
}

@include media-breakpoint-up(md-max) {
  .banner-home {
    .banner-home-text {
      font-size: 35px;
      h1,
      h2 {
        font-size: 35px;
      }
      p.subtitle {
        margin-top: 50px;
        font-size: 18px;
      }
    }
  }

}
