// Ipad fix on over
@media (width: 1024px) {
  #navbar-combined {
    ul.top-menu-main {
      > li {
        .sub-menu {
          display: none;
        }
      }
    }

  }
}

#navbar-combined {

  ul.top-menu-main {

    > li {

      .sub-menu {
        overflow: hidden;
        transform-origin: top;
        transform: scaleY(0);
        position: fixed;
        top: $combined-nav-height-desktop;
        left: 0;
        right: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        color: $soxo-white;
        background-color: $soxo-blue;
        transition: all .4s;
        text-align: center;

        .container {
          ul.submenu-container {
            list-style-type: none;
            padding-left: 0;
            width: 100%;

            > div.row {
              justify-content: space-around;
              align-items: flex-start;
              height: 100%;
            }

            li.col {
              max-width: 200px;

              a {
                display: block;
                color: $soxo-white;
                font-size: 14px;
                line-height: 18px;
                img {
                  backface-visibility: hidden;
                  transition: transform .3s;
                  transform: translateY(0);
                }
                &:hover {
                  img {
                    transform: translateY(-5px);
                  }
                  text-decoration: none;
                }
                > span {
                  margin: 5px 0;
                  display: block;
                }
              }

              ul.submenu-list-items {
                padding-left: 20px;
                list-style-type: none;
                text-align: left;
                li {
                  margin-bottom: 5px;
                  a {
                    position: relative;
                    .fa {
                      position: absolute;
                      top: 0;
                      left: -20px;
                      margin-right: 15px;
                      margin-left: 0;
                      transition: all .4s;
                    }
                    &:hover,
                    &:focus {
                      .fa {
                        left: -15px;
                      }
                    }
                  }
                }
              }

            }

          }
        }

      }

      &:hover,
      &:focus {
        .sub-menu {
          transform: scaleY(1);
          padding: 40px 0;
        }
      }

    }

  }

  .navbar-top-menu-bar {
    .menu-top-container {
      display: flex;
      align-items: center;
      .menu-top-nav-container {
        display: flex;
        .navbar-nav {
          flex-direction: row;
          li {
            display: flex;
            align-items: center;
          }
          a {
            padding: 10px 18px 10px 4px;
            color: #000;
          }
        }
      }
      .burger {
        display: flex;
        align-items: center;
      }
    }
  }
}

//
@include media-breakpoint-down(sm) {
  #navbar-combined {
    ul.top-menu-main {
      > li {
        .sub-menu {
          top: $combined-nav-height;
        }
      }
    }
  }
}
