$soxo-blue: #2c2455;
$soxo-blue-ocean: #283897;
$soxo-blue-light: #f3f5fe;
$soxo-red: #ed424a;
$semi-bold: 600;
$bold: 800;

// Defining values
$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 1025px;
$screen-md-max: ($screen-lg - 1);
$screen-xl: 1200px;
$screen-lg-max: ($screen-xl - 1);


.bar {
    //display: flex;
    //justify-content: center;
    position: relative;
    height: 215px;

    &_content {
        position: absolute;
        display: flex;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
        height: 100%;
        width: calc(50% + 80px);
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        color: white;

        &-top,
        &-bottom {
            display: flex;
            p {
                width: 50%
            }
        }

        &-bottom {
            font-size: 12px;
            line-height: 16px;
        }

        &-top {
            font-size: 18px;
        }
    
    }

    & .label {
        font-size: 15px;
    }

    .bar-left {
        fill: red;
    }
    .bar-right {
        fill: white;
    }

    .label {
        width: 100px;
        &-up {
            font-size: 18px;
            font-weight: 700;
            fill: #fff;
        }

        &-down {
            font-size: 12px;
            font-weight: 500;
            fill: #fff;
        }
    }

    svg {
        margin: 0 auto;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
       
    }
    
    svg.bar {
        z-index: 11
    }
    
    path.color2 {
        fill: white;
    }

}


@media (max-width: $screen-md-max) { 
    .bar {
    
        .bar_content {
            //width: auto;
            //margin-left: 40px;
        }
    
        &.bar-summary {
            //display: flex;
            //justify-content: center;
            position: relative;
            height: 30px;
        
            
            
            svg {
                left: 50%;
                transform: translateX(-40%) translateY(-35%);
                top: 50%;
            }

            .bar-left {
                fill: red;
            }
            .bar-right {
                fill: white;
            }
        }
    }
}

