$soxo-blue: #2c2455;
$soxo-blue-light: #f3f5fe;
$soxo-blue-ocean: #283897;
$soxo-red: #ed424a;
$soxo-grey: #7c8083;
$semi-bold: 600;
$bold: 800;

// Defining values
$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 1025px;
$screen-md-max: ($screen-lg - 1);
$screen-xl: 1200px;
$screen-lg-max: ($screen-xl - 1);


.toggle {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 151px;
  height: 42px;
  line-height: 20px;
  vertical-align: middle;
  border-radius: 20px 20px;
  border: 1px solid white;
  background-color: white;
  cursor: pointer;
  transition: all 0.03s cubic-bezier(0.35, 0, 0.25, 1);
  box-shadow: 0 1px 1px 0 rgba(3, 3, 3, 0.35);

  &-false, 
  &-true {
    top:-1px;
    position: absolute;
    width:72px;
    text-align: center;
    transform: translateY(50%);
   
  }

  &-false {
    left: 4px;
    color: white;
  }

  &-true {
    right: 4px;
    
  }
  
  &-inner {
    color: #fff;
    font-size: 12px;
    position: absolute;
    left: 24px;
  }

  &:before {
    position: absolute;
    width: 72px;
    height: 34px;
    left: 4px;
    top: 3px;
    border-radius: 20px 20px;
    background-color: $soxo-blue-ocean;
    content: " ";
    cursor: pointer;
    box-shadow: 0 1px 1px 0 rgba(3, 3, 3, 0.44);
    transition: left 0.0s cubic-bezier(0.35, 0, 0.25, 1);
    animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
    animation-duration: 0.3s;
    animation-name: rcSwitchOff;
  }

  &:focus {
    outline: none;
  }

  &-checked {

    & .toggle-false {
      left: 4px;
      color: black;
    }

    & .toggle-true {
      right: 4px;
      
      color: white;
    }

    
    &:before {
      left: 72px;
    }
  }
}

.toggle-disabled {
  cursor: no-drop;
  background: white;
  border-color: white;
  &:before {
    background: #9e9e9e;
    animation-name: none;
    cursor: no-drop;
  }
}

.toggle-label {
  display: inline-block;
  line-height: 20px;
  font-size: 14px;
  padding-left: 10px;
  vertical-align: middle;
  white-space: normal;
  pointer-events: none;
  user-select: text;
}

// @keyframes rcSwitchOn {
//   0% {
//     transform: scale(1);
//   }

//   50% {
//     transform: scale(1.25);
//   }

//   100% {
//     transform: scale(1.1);
//   }
// }


// @keyframes rcSwitchOff {
//   0% {
//     transform: scale(1.1);
//   }

//   100% {
//     transform: scale(1);
//   }
// }

@media (max-width: $screen-md-max) { 
    .toggle {
        width: 88px;
        height: 28px;
        padding: 0;

        &:before {
          width: 40px;
          height: 20px;
        }

        &-false, 
        &-true {
          font-size: 11px;
          width: 40px;
          transform: translateY(25%);
        }

        &-checked {
          & .toggle-false {
            left: 4px;
            color: black;
          }

          & .toggle-true {
            right: 4px;
            
            color: white;
          }

          
          &:before {
            left: 40px;
          }
        }
    }
}