.top_menu {
  background: transparent;
  margin: 50px auto 0 auto;
  padding: 0 0 60px 0;

  .slick-prev,
  .slick-next {
    &:before {
      color: $soxo-blue-dark;
    }
  }

  .slick-dots {
    li {
      button {
        border-color: $soxo-blue-dark;
      }
      &.slick-active button {
        background: $soxo-blue-dark;
      }
    }
  }

  .fake-select {
    display: block;
    margin-top: -55px;
    padding: 30px;
    width: 100%;
    text-align: center;
    background-color: transparent;

    &_content {

      a {
        display: inline-block;
        color: $soxo-white;
        line-height: 25px;
        border-radius: 25px;
        padding: 12px 30px;
        border: 2px solid $soxo-white;
        font-weight: bold;
        text-transform: uppercase;
        background-color: $soxo-blue;

        span.menu-item-span {
          display: inline-block;
        }

        .icon::before {
          font-size: 20px;
        }

        &:hover,
        &:focus {
          color: $soxo-white;
        }
      }
    }
  }

  span.top-menu--wave {
    //display: none;
    position: absolute;
    top: -97px;
    left: 50%;
    right: auto;
    width: 170px;
    height: 50px;
    padding: 0;
    margin: 0 auto;
    background: transparent;

    background-size: 170px 50px;
    transform: scaleY(0) translateX(-50%);
    transform-origin: bottom;
    transition: transform .2s;
    body.lazyload-on & {
      &.loaded {
        background: transparent url('../images/wave-up.png') center center no-repeat;
        background-size: 170px 50px;
      }
    }
    body.lazyload-off & {
      background: transparent url('../images/wave-up.png') center center no-repeat;
      background-size: 170px 50px;
    }
  }

  .top-menu {

    &--tabs {
      display: none;

      &_list {
        padding: 0;
        display: flex;
        background: transparent;

        & li {
          position: relative;
          flex: 1;
          padding: 0 15px;
          list-style-type: none;
          text-align: center;

          &:first-child {
            display: none;
          }

          & a {
            height: 100%;
            display: block;
            position: relative;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            text-decoration: none;
            color: $soxo-blue;
            transition: all .2s;

            & span.menu-item-span {
              max-width: 100px;
              display: inline-block;
              margin: 0 auto;
              padding-bottom: 5px;

              &::after {
                content: "";
                display: block;
                height: 4px;
                background-color: transparent;
                transform: scale(0, 1);
                transition: all .2s;
              }
            }

            &.your-needs {
              &::after {
                content: "\e801";
              }
            }

            &.meal-solutions {
              &::after {
                content: "\e800";
              }
            }

            &.gift-solutions {
              &::after {
                content: "\e802";
              }
            }

            &.leisure-offers {
              &::after {
                content: "\e828";
              }
            }

            &.public-solutions {
              &::after {
                content: "\e803";
              }
            }

            &.mobility-solutions {
              &::after {
                content: "\e804";
              }
            }

            &.life-balance {
              &::after {
                content: "\e82e";
              }
            }

            &.corporate-expense-dollar {
              &::after {
                content: "\e81f";
              }
            }

            &.corporate-expense-euro {
              &::after {
                content: "\e820";
              }
            }

            &.flexible-remuneration-dollar {
              &::after {
                content: "\e821";
              }
            }

            &.flexible-remuneration-euro {
              &::after {
                content: "\e826";
              }
            }

            &.pass-restaurant {
              &::after {
                content: "\e82c";
              }
            }

            &.other-services {
              &::after {
                content: "\e82b";
              }
            }

            &.motivation {
              &::after {
                content: "\e829";
              }
            }

            &.leisure-offers {
              &::after {
                content: "\e828";
              }
            }

            &.health-wellness {
              &::after {
                content: "\e827";
              }
            }

            &::after {
              margin: 0 auto 12px;
              border: $soxo-white solid 4px;
              font-family: 'soxo-icons';
              font-weight: normal;
              font-style: normal;
              text-decoration: inherit;
              font-size: 45px;
              background: $soxo-blue;
              color: $soxo-white;
              border-radius: 50%;
              height: 75px;
              width: 75px;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: all .2s, background 0s;
              position: absolute;
              top: -90px;
              left: 0;
              right: 0;
            }

            &:hover,
            &.active {

              &::after {
                @include background-red-50();
                height: 90px;
                width: 90px;
                margin-top: -5px;
              }

              & span.menu-item-span {
                color: $soxo-black;
                &::after {
                  width: 100%;
                  background-color: $soxo-red;
                  transform: scale(1, 1);
                }
              }

              span.top-menu--wave {
                transform: scaleY(1) translateX(-50%);
              }

            }

          }
        }
      }
    }

    &--header {
      position: relative;
      margin: 5px 0;
      display: block;
      width: 100%;
      padding: 0 25px;

      &_top-solution {
        display: none;
        color: $soxo-black;
        z-index: 10;
        position: absolute;
        top: 5px;
        text-decoration: none;
        cursor: pointer;
        font-size: 14px;
        i {
          color: $soxo-blue;
          &:before {
            font-size: 30px;
            top: 5px;
            position: relative;
            margin: 0;
            padding: 0;
          }
        }
      }

      &_title p {
        text-align: center;
        font-size: 30px;
        font-weight: 300;
      }
    }

    &-carousel {
      position: relative;
      &:not(.loaded) {
        &:after {

        }
      }
    }

    &-carousel_block {
      display: flex;
      align-items: flex-start;
      height: 100%;
      overflow: hidden;
      background: $soxo-grey-light;
      border-radius: 20px;
      padding: 15px;
      color: black;
      text-decoration: none;

      &-image {

        img {
          width: 150px;
        }
      }

      &-title {
        word-break: break-word;
        text-transform: uppercase;
        color: $soxo-blue;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        margin: 5px 0;
      }

      &-text {
        font-size: 12px;
      }

      &.new-carousel-needs {
        .media {
          .top-menu-carousel_block-image {
            //height: 110px;
            &.resized img {
              height: 100%;
            }
            @include media-breakpoint-down(md) {
              //max-height: 65px;
            }
            @include media-breakpoint-down(sm) {
              max-height: 100%;
            }
          }
        }
        @include media-breakpoint-down(sm) {
          .media {
            text-align: center;
            flex-direction: column;
            width: 100%;
            align-items: center;
            .top-menu-carousel_block-image {
              margin-bottom: 10px;
            }
          }
        }
      }

      &.block-label-prize,
      &.top-menu-carousel_block-need {

        .media {
          text-align: center;
          flex-direction: column;
          width: 100%;
        }

        .top-menu-carousel_block-image {
          text-align: center;
          display: block;
          margin: 0 auto;

          //width: 100%;
          img {
            // width: 100%;
          }
        }

        .media-body {
          width: 100%;
        }

        .top-menu-carousel_block-title {
          margin: 15px 0;
        }

      }

      &.top-menu-carousel_block-need {
        align-items: flex-start;
        padding: 0;
        border-radius: 0;
        background-color: transparent;

        .top-menu-carousel_block-image {
          overflow: hidden;
          border-radius: 20px;
          max-height: 48px;

        }

        .top-menu-carousel_block-title {
          font-size: 10px;
          line-height: 16px;
        }
      }

    }

    &--footer {
      text-align: center;
      a {
        margin: 30px auto 0 auto;
      }
    }

  }

  .row {
    .col {
      margin-top: 15px;
    }
  }
  .media {
    &-ita, &-norm {
      @media (max-width: 767px) {
        width: 100%;
        display: block;
        text-align: center;
        flex-direction: column;
        align-items: center;
        .top-menu-carousel_block-image {
          text-align: center;
          img {
            margin: 0 auto;
          }
        }
      }
    }
  }

}

.label-prize {
  background: $soxo-red;
  border-radius: 0 0 28px 28px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
  left: 40px;
  line-height: 1.2;
  padding: 8px 14px;
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  top: 0;
  width: 76px;

  &:after {
    //background: url('../images/best-seller.svg');
    background-size: cover;
    content: "";
    display: block;
    height: 32px;
    margin: 4px auto;
    width: 28px;
  }
  body.lazyload-off & {
    &:after {
      background: url('../images/best-seller.svg');
    }
  }
  body.lazyload-on & {
    &.loaded:after {
      background: url('../images/best-seller.svg');
    }
  }
}

.force-eq-height div.media {
  align-self: center;
}

.top_menu {

  .top-menu--tabs.top-menu--tabs-popup {
    display: block;

    ul.top-menu--tabs_list {
      display: flex;
      flex-direction: column;
      text-align: left;

      li {
        border-top: 1px solid $soxo-grey;
        text-align: left;

        &:nth-child(2) {
          border-top: 0;
        }

        a {
          margin: 0;

          &::after {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: auto;
            height: 50px;
            width: 50px;
            font-size: 24px;
          }

          &::before {
            display: none;
          }

          /*span.menu-item-span {*/
          span {
            display: inline-block;
            max-width: none;
            margin: 0;
            padding: 15px 0 15px 45px;
          }

          &:hover,
          &.active {
            &::after {
              margin-top: 0;
            }
          }

        }
      }

    }

  }

}

// Bootstrap default carousel indicators

.carousel-indicators {
  li {
    flex: none;
    position: relative;
    display: inline-block;
    height: 13px;
    width: 13px;
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid $soxo-white;
    background: transparent;
    outline: none;
    &:hover,
    &:focus {
      opacity: .8;
      outline: none;
    }
  }

}

@include media-breakpoint-up(md) {

  .top_menu {
    .top-menu {
      &-carousel_block {
        .media {
          width: 100%;
          display: block;
          text-align: center;
          flex-direction: column;
        }
        &-image {
          text-align: center;
          display: flex;
          margin: 0 auto;
          max-width: 350px;
          align-items: center;
          justify-content: center;
          img {
            margin: 0 auto;
            width: auto;
          }
        }
        &.new-carousel-needs {
          .top-menu-carousel_block-image {
            //max-height: 76px;
            overflow: hidden;
          }
        }
        .media-body {
          width: 100%;
        }

        &-title {
          margin: 15px 0;
        }

        &-text {
          font-size: 13px;
        }
      }
    }
    .row {
      .col {
        height: 100%;
        margin-top: 0;
      }
    }
  }
}

@include media-breakpoint-up(md-max) {

  .top_menu {

    .fake-select {
      display: none;
    }

    .top-menu {

      &--tabs {
        display: block;
      }

      &--header {
        margin: 30px 0;

        &_top-solution {
          display: block;
        }
      }

      &-carousel_block {

        &-title {
          font-size: 16px;
          line-height: 20px;
        }

        &.top-menu-carousel_block-need {
          .top-menu-carousel_block-title {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }

      &--footer {
        text-align: right;
        a {
          width: auto;
          margin: 0;
          position: absolute;
          right: 40px;
          bottom: -10px;
        }
      }
    }

    .row {
      .col {
        height: 100%;
        margin-top: 0;
      }
    }
  }

}

@include media-breakpoint-up(xl) {

  .top_menu {
    .slick-prev {
      left: -60px;
    }
    .slick-next {
      right: -60px;
    }
  }

}

@include media-breakpoint-down(sm) {
  .top-menu {
    .top-menu-carousel_block {
      &.new-carousel-needs {
        .media {
          .top-menu-carousel_block-image {
            display: flex;
            max-height: 45px;
            overflow: hidden;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
