
.choose-sodexo {
  background: $soxo-grey-light;
  margin: 0 auto;
  padding: 30px 0 100px 0;
  width: 100%;

  &.alt {
    background: #fff;
  }

  &--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background: #FFF;
    height: 100%;
    padding: 20px 30px 40px;
    border-radius: 30px;
    box-shadow: 0 1px 1px 0 rgba(3, 3, 3, .2);
    margin: 4px;

    &:hover, &:focus {
      text-decoration: none;
      &_subtitle {
        text-decoration: underline;
        text-decoration-color: #4d4d4f;
      }

      button {
        text-decoration-color: transparent;
      }
    }

    button {
      user-select: none;
    }

    &_image {
      height: 200px;
      width: 100%;
      user-select: none;

      position: relative;
      img {
        position: absolute;
        height: auto;
        width: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &_button {
      display: flex;
      justify-content: center;
    }

    &_subtitle {
      text-align: center;
      font-weight: 600;
      font-size: 20px;
      color: #4d4d4f;
      margin-top: 40px;
      &:hover, &:focus {
        [href] & {
          text-decoration: underline;
          text-decoration-color: #4d4d4f;
        }

      }

      &::after {
        content: "";
        display: block;
        width: 40px;
        height: 4px;
        margin: 10px auto;
        background-color: $soxo-red;
      }
    }
    .btn-sodexo {
      align-self: center;
      margin-right: 0 !important;
      border:none;
    }
  }

  &--mobile {
    display: none;

    .slick-dots {
      bottom: -45px;
    }

    .slick-prev,
    .slick-next {
      &:before {
        color: $soxo-blue-dark;
        opacity: 1;
      }
      &.slick-disabled:before {
        opacity: 0;
      }
    }

    .choose-sodexo--container {
      width: 100%;

      &_image {
        height: 100px;
        width: 100%;
        img {
          max-height: 100px;
        }
      }

      &_subtitle {
        font-size: 16px;
      }
    }
    /*.carousel {
        padding: 0 60px;
        &-item {
          width: 100%;
            .choose-sodexo--container {
                padding: 20px 15px 20px;
                &_image {
                    height: 100px;
                    width: 100%;
                    position: relative;
                    img {
                        position: absolute;
                        height: auto;
                        width: auto;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        max-height: 100px;
                    }
                }

                &_subtitle {
                    text-align: center;
                    font-weight: 600;
                    font-size: 18px;
                    color: #4d4d4f;
                    margin-top: 40px;
                    &::after {
                        content: "";
                        display: block;
                        width: 40px;
                        height: 4px;
                        margin: 10px auto;
                        background-color: $soxo-red;
                    }
                }
            }
        }*/
  }

  &--cta {
    text-align: center;
    margin: 60px auto 0;
    font-size: 16px;
    span {
      padding-right: 30px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .choose-sodexo {
    &--desktop {
      display: none;
    }

    &--mobile {
      display: block;
    }

  }
}
//
//@include media-breakpoint-down(xs) {
//  .choose-sodexo {
//
//    button {
//      //display: none;
//    }
//  }
//}

/*
    @include media-breakpoint-down(md) {

        .choose-sodexo {
            &--desktop {
                display: none;
            }

             &--mobile {
                display: block;
                .carousel {
                    padding: 0 30px;

                    &-item {
                        .choose-sodexo--container {
                            padding: 20px 15px 20px;
                            width: 100%;

                            &_image {
                                height: 100px;
                                width: 100%;
                                img {
                                    max-height: 100px;
                                }
                            }

                            &_subtitle {
                                font-size: 16px;
                            }

                        }
                    }

                    &-indicators {
                        display: block;
                        text-align: center;
                        position: relative;
                        li {

                            width: 13px;
                            height: 13px;
                            margin: 35px 2px 0 2px;
                            bottom: 0;
                            text-indent: -999px;
                            cursor: pointer;
                            background-color: #000\9;
                            background-color: rgba(0,0,0,0);
                            border: 1px solid $soxo-blue;
                            border-radius: 13px;
                            max-width: 13px;
                            &.active {
                                width: 13px;
                                height: 13px;
                                margin: 0;
                                background-color: $soxo-blue;
                            }
                        }
                    }
                }
             }

             &--cta {
                text-align: center;
                margin: 50px auto 30px auto;
                span {
                    display: block;
                    padding-right: 0px;
                    margin-bottom: 30px;

                }
            }
        }

    }
    */
/*
    @include media-breakpoint-only(md) {

        .choose-sodexo {

             &--mobile {
                display: block;
                .carousel {
                    padding: 0 80px;

                    &-item {
                        .choose-sodexo--container {
                            padding: 20px 15px 20px;
                            width: 100%;

                            &_image {
                                height: 200px;
                                width: 100%;
                                img {
                                    max-height: 200px;
                                }
                            }

                            &_subtitle {
                                font-size: 22px;
                            }

                        }
                    }

                    &-indicators {
                        display: block;
                        text-align: center;
                        position: relative;
                        li {

                            width: 18px;
                            height: 18px;
                            margin: 35px 2px 0 2px;
                            bottom: 0;
                            text-indent: -999px;
                            cursor: pointer;
                            background-color: #000\9;
                            background-color: rgba(0,0,0,0);
                            border: 1px solid $soxo-blue;
                            border-radius: 18px;
                            max-width: 18px;
                            &.active {
                                width: 18px;
                                height: 18px;
                                margin: 0;
                                background-color: $soxo-blue;
                            }
                        }
                    }
                }
             }

             &--cta {
                text-align: center;
                margin: 50px auto 65px;
                span {
                    display: block;
                    padding-right: 0px;
                    margin-bottom: 30px;

                }
            }
        }

    }

    @include media-breakpoint-up(md-max) {
        .sodexo-title{
            margin-top: 50px;
        }
    }
    @include media-breakpoint-up(lg-max) {
        .choose-sodexo {
            &--container {
                padding: 20px 40px 40px;
            }
        }

    }




[class*="choose-sodexo"]{
  & + [class*="choose-sodexo"]{
    margin-top: 30px;
  }
}

@include media-breakpoint-up(md) {
  [class*="choose-sodexo"]{
    & + [class*="choose-sodexo"]{
      margin-top: 60px;
    }
  }
}
*/
