/*
 * Login Dropdown Menu
 */

.loginDropdown {
    &__link {
        &:link {
            transition: all 0.6s;
            background-color: $soxo-white;
        }

        &:hover,
        &[aria-expanded="false"]:hover {
            background-color: $soxo-grey-light !important;
        }

        &:focus {
            background-color: $soxo-grey-light;
        }

        &:visited,
        &:active {
            background-color: $soxo-white;
        }

        &[aria-expanded="false"] {
            background-color: $soxo-white;
        }

        &[aria-expanded="true"] {
            background-color: $soxo-grey-light !important;
        }
    }

    &__menu {
        background-color: $soxo-white;
        border-radius: 30px;

        &::after {
            font-size: 1.3em;
            display: block;
            width: 0;
            height: 0;
            content: "";
            pointer-events: none;
            border-right: 12px solid transparent;
            border-bottom: 12px solid $soxo-blue-dark;
            border-left: 12px solid transparent;
            position: absolute;
            top: -0.45em;
            right: 43px;

            @include media-breakpoint-down(md) {
                right: 52px;
            }
        }
    }

    &__header {
        background-color: $soxo-blue-dark;
        color: $soxo-white;
        border-radius: 28px 28px 0 0;
        padding: 12px 20px 10px;
        margin-bottom: 0.25rem;
        position: relative;
        z-index: 1;
    }

    &__title {
        display: block;
        font-weight: 600;
        margin: 0;
        text-align: center;
        font-size: 12px;
        line-height: 1.4;
    }

    &__introduction {
        padding: 0.5rem 1.5rem;
        font-size: 14px;
    }

    &__heading {
        color: $soxo-grey-dark;
        background-color: $soxo-grey-light;
        font-size: 16px;
        padding: 0.5rem 1.5rem;
        margin: 0.5rem 0 0.5rem 0;
    }

    &__item {
        display: block;

        padding: 0.35rem 0 0.35rem 1.5rem !important;
        margin: 0 1.5rem !important;

        text-transform: uppercase !important;
        color: $soxo-grey-dark !important;
        font-size: 14px !important;
        width: 80% !important;
        border: none !important;

        &:last-of-type {
            border-bottom: none !important;
            padding-bottom: 0 !important;
        }

        &:hover,
        &:visited,
        &:focus,
        &:active {
            color: $soxo-grey-dark !important;
            text-decoration: none !important;
            background-color: transparent !important;
        }

        &:hover .fa-move,
        &:focus .fa-move {
            left: calc(1.5rem + 5px);
        }

        &:active {
            font-weight: 600 !important;
        }

        &--unsetCombinedSettings {
            line-height: unset !important;
            width: unset !important;
            height: unset !important;
            border-radius: unset !important;
            flex: unset !important;
        }
    }

    &__arrow {
        color: $soxo-blue-dark;
        display: inline-block;
        margin-top: 1px;
        margin-right: 15px;
        transition: all 0.4s;
        position: absolute;
        left: 1.5rem;
    }
}

/* 
 * Bootstrap overwrite for dropdown (linkDropdown)
*/
.dropdown-menu {
    margin: 1.15rem 0 0;
    right: -40px;
    left: auto;
    min-width: 24rem;
    max-width: 26rem;
    padding: 0 0 1.25rem 0;
    border: 1px solid rgba($soxo-blue-dark, 0.15);

    @include media-breakpoint-down(md) {
        min-width: 20rem;
        max-width: 22rem;
        right: -50px;
    }
}

.dropdown-menu {
    opacity: 0;
    transition: all 1s 0.3s ease;
}

.show > .dropdown-menu {
    opacity: 1;
    transition: all 1s 0.3s ease;
}

.dropdown-toggle {
    &[aria-expanded="true"]::after {
        transform: rotate(180deg);
        transition: all 0.4s;
    }

    &[aria-expanded="false"]::after {
        transform: rotate(0deg);
        transition: all 0.4s;
    }
}
