.carousel-theytrustus {
  margin: 0 auto;
  padding: 30px 0 60px 0;
  width: 100%;

  &--container {
    text-align: center;

    &_image {
      text-align: center;
      &:focus {
        outline: none;
      }
      img {
        margin: 0 auto;
      }
    }
  }

}
