.error-404{
	text-align: center;

	.page-title{
		font-weight: 600;
		font-size: 40px;
	}
	.sub-title{
		font-weight: 600;
		font-size: 30px;
		margin-bottom: 34px;
	}
	.text-ct{
		font-size: 24px;
		margin-bottom: 44px;
	}
	.page-content{
		.image-404 {
			display: block;
			max-height: 126px;
			margin: 44px auto 50px;
			max-width: 125px;
		}
	}
	.useful-links{
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		text-align: left;

		li{
			display: block;
			margin-bottom: 20px;
			width: 50%;
		}
		a{
			align-items: flex-start;
			color: $soxo-grey-dark;
			display: flex;

			&:hover{
				text-decoration: none;

				span{
					text-decoration: none;
				}
			}

			&:before{
				color: $soxo-blue;
				font-size: 28px;
				margin-top: -2px;
			}

			span{
				text-decoration: underline;
			}
		}
	}
}
.search-block-aside{
	background-position: center center;
	background-size: cover;
	margin-top: 0;
	padding-bottom: 60px;
	padding-top: 60px;

    input[type="search"],
    input[type="text"]{
		&::-ms-clear {
		  display: none;
		}
	}

	.tt{
		color: #fff;
		font-size: 32px;
		font-weight: 100;
		margin-bottom: 26px;
		text-align: center;
	}
	.input-group{
		align-items: center;
		display: flex;
		position: relative;
	}
	.field{
		border: 0 none;
		border-bottom: 1px solid #fff;
		border-radius: 0;
		background: transparent;
		box-sizing: border-box;
		color: #fff;
		padding-right: 40px;
		padding: 16px 40px 16px 0;
		width: 100%;

		&:focus{
			background: none;
			color: #fff;
		}

		@include input-placeholder{
			color: #fff;
		}
	}
	.input-group-btn{
		top: 20px;
		height: 25px;
		position: absolute;
		right: 10px;
		overflow: hidden;
		width: 25px;
		z-index:10;

		&:before{
			content: "\e806";
			color: #fff;
			display: block;
			font-family: "soxo-icons";
			font-size: 25px;
			line-height: 1;
			height: 100%;
			width: 100%;
		}
		input{
			height: 100%;
			left: 0;
			opacity: 0;
			padding: 0;
			position: absolute;
			top: 0;
			width: 100%;
		}
		.btn-primary{
			z-index: 10;
		}
	}
}

@include media-breakpoint-up(md) {
	.error-404{
		.useful-links{
			margin: 0 auto;
			max-width: 70%;
		}
	}
}
@include media-breakpoint-up(md-max) {
	.error-404{
		.page-title{
			font-size: 45px;
		}
		.sub-title{
			font-size: 30px;
		}
		.text-ct{
			font-size: 20px;
			margin-bottom: 24px;
		}
		.page-content{
			.image-404{
				margin: 50px auto;
				max-width: 500px;
		    max-height: initial;
			}
		}
		.useful-links{
			max-width: 600px;
			padding-left: 100px;

			li{
				margin-bottom: 14px;
			}
		}
	}
	.search-block-aside{
		padding-bottom: 84px;
		padding-top: 72px;

		.tt{
			font-size: 45px;
			margin-bottom: 8px;
		}
		.input-group{
			max-width: 580px;
			margin: 0 auto;
		}
		.field{
			font-size: 18px;
		}
	}
}
