.home {
  #navbar-combined {
    transform: translateY(-150%);
    .container {
      //max-width: 90% !important;
      //width: 100% !important;
      height: 100%;
    }
    &.sticky-nav {
      transform: translateY(0);
    }
  }

  #content {
    .top-menu--tabs {
      z-index: 2;
    }
  }
}

#navbar-combined {
  width: 100%;
  height: $combined-nav-height-desktop;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: transform .4s;
  z-index: 1000;
  background-color: #FFF;
  margin: 0;
  padding: 0;
  //-webkit-filter: drop-shadow(0px 0px 5px rgba(0,0,0,1));
  //filter: drop-shadow(0px 0px 5px rgba(0,0,0,1));
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .6);

  .navbar-top-menu-bar {
    height: $combined-nav-height-desktop;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .navbar-brand {
      display: block;
      width: 100px;
      flex: 0 0 100px;
      margin: 0 10px 5px 0;
      padding: 0;
    }

    .menu-top-menu-bar-container,
    .menu-top-menu-affiliate-bar-container,
    .menu-top-menu-bar-customers-container {
      margin: 0;

      ul.top-menu-main {
        position: relative;
        width: 100%;
        height: $combined-nav-height-desktop;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        vertical-align: middle;
        > li {
          flex: 1; //same size for all li
          float: none;
          position: relative;
          height: $combined-nav-height-desktop;
          padding: 0 6px 0 10px;
          display: table-cell;
          vertical-align: middle;
          border-left: 1px solid #f0f0f0;
          transition: border .2s;

          &:last-of-type {
            border-right: 1px solid #f0f0f0;
          }

          &::after {
            content: "";
            position: absolute;
            bottom: -20px;
            left: -30px;
            width: 113px;
            height: 20px;
            padding: 0;
            margin: 0;
            background: transparent url('../images/wave-down-bis.png') center center no-repeat;
            background-size: 113px 20px;
            transform: scaleY(0);
            transform-origin: top;
            transition: transform .2s;
          }

          &:hover,
          &:focus {
            border-color: transparent;
            &::after {
              transform: scaleY(1);
            }
          }

          & > a {
            //display: block;
            position: relative;
            height: $combined-nav-height-desktop;
            font-size: 12px;
            //letter-spacing: -0.3px;
            font-weight: 600;
            text-transform: uppercase;
            text-decoration: none;
            color: $soxo-blue-dark;
            padding-left: 44px;
            transition: all .2s;
            display: table;
            vertical-align: middle;

            & span {
              display: table-cell;
              vertical-align: middle;
              position: relative;
              transition: all .2s;

              &::after {
                content: "";
                display: block;
                height: 4px;
                background-color: transparent;
                transform: scale(0, 1);
                transition: all .2s;
              }
            }

            &::before {
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%) scale(1);
              text-align: center;
              display: block;
              font-family: 'soxo-icons';
              color: $soxo-white;
              font-weight: normal;
              font-style: normal;
              text-decoration: inherit;
              font-size: 16px;
              background: $soxo-blue;
              border-radius: 50%;
              line-height: 34px;
              height: 34px;
              width: 34px;
              transition: transform .2s;
              -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
            }

            &:hover {

              &::before {
                color: $soxo-white;
                @include background-red-50();
                transform: translateY(-50%) scale(1.15);
              }

              & span {
                color: $soxo-black;
                &::after {
                  width: 100%;
                  background-color: $soxo-red;
                  transform: scale(1, 1);
                }
              }
            }
          }

          &.your-needs > a {
            &:before {
              content: "\e801";
            }
          }

          &.meal-solutions > a {
            &:before {
              content: "\e800";
            }
          }

          &.gift-solutions > a {
            &:before {
              content: "\e802";
            }
          }

          &.leisure-offers > a {
            &:before {
              content: "\e828";
            }
          }

          &.public-solutions > a {
            &:before {
              content: "\e803";
            }
          }

          &.mobility-solutions > a {
            &:before {
              content: "\e804";
            }
          }

          &.life-balance > a {
            &:before {
              content: "\e82e";
            }
          }

          &.corporate-expense-dollar > a {
            &:before {
              content: "\e81f";
            }
          }

          &.corporate-expense-euro > a {
            &:before {
              content: "\e820";
            }
          }

          &.flexible-remuneration-dollar > a {
            &:before {
              content: "\e821";
            }
          }

          &.flexible-remuneration-euro > a {
            &:before {
              content: "\e826";
            }
          }

          &.pass-restaurant > a {
            &:before {
              content: "\e82c";
            }
          }

          &.other-services > a {
            &:before {
              content: "\e82b";
            }
          }

          &.motivation > a {
            &:before {
              content: "\e829";
            }
          }

          &.health-wellness > a {
            &:before {
              content: "\e827";
            }
          }

          &:hover {
            background-color: transparent;
          }

          &.current-menu-item {
            a {
              color: $soxo-black;
              padding-left: 45px;
              padding-right: 5px;

              &::before {
                @include background-red-50();
                transform: translateY(-50%) scale(1.15);
              }

              & span {
                &::after {
                  width: 100%;
                  background-color: $soxo-red;
                  transform: scale(1, 1);
                }
              }
            }
          }
        }

      }

    }

    .soxo-hamburger {
      width: 34px;
      flex: 0 0 34px;
      display: block;
      margin-left: 15px;
    }

    .burger {
      text-align: center;
      margin-left: 15px;
      font-size: 12px;
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
      color: #2C2455;
      .soxo-hamburger {
        display: inline-block;
        margin-left: 0;
      }
    }

  }

  .combined-menu-login-item {
    text-align: center;
    margin-left: 10px;
    a {
      color: $soxo-blue;
      border: 1px solid $soxo-grey;
      display: block;
      line-height: 30px;
      width: 34px;
      height: 34px;
      border-radius: 50%;
      flex: 0 0 34px;
      &:hover,
      &:focus {
        background-color: $soxo-grey-light;
        text-decoration: none;
      }
    }
  }

}

@include media-breakpoint-up(md-max) {

  #navbar-combined {
    display: block;

  }

}

@include media-breakpoint-down(sm) {
  #navbar-combined {
    height: $combined-nav-height;
    .navbar-top-menu-bar {
      height: $combined-nav-height;
      .menu-top-menu-bar-container,
      .menu-top-menu-affiliate-bar-container,
      .menu-top-menu-bar-customers-container {
        ul.top-menu-main {
          height: $combined-nav-height;
          > li {
            height: $combined-nav-height;
            & > a {
              height: $combined-nav-height;
            }
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .navbar-top-menu-bar {
    justify-content: space-between !important;
  }
  .menu-top-menu-bar-container, .combined-menu-login-item {
    display: none;
  }
}

@include media-breakpoint-down(xs) {
  #navbar-combined {
    > div.container {
      width: 100%;
    }
  }
}
