// global edito styles
.edito-content{
	
	table {
		td {
			border: 1px solid #000;
			padding: 2px 5px;
		}
	}
	
	ol,
	ul{
		counter-reset: section;
		margin: 0;
		padding: 0;
	}

	li{
		display: block;
		counter-increment: section;

		& + li{
			margin-top: 36px;
		}

		& > h2,
		& > h3,
		& > h4{
			word-wrap: break-word;
			font-size: 26px;
			font-weight: 600;
			margin-bottom: 36px;

			&:first-child{
				&:before{
					content: counter( section ) ". ";
				}
			}
		}

		p{
			font-size: 22px;
		}
		img{
			display: block;
			height: auto;
			margin-top: 20px;
			width: 100%;
		}
	}

}

@include media-breakpoint-up(md-max) {
	.edito-content{
		li{
			& + li{
				margin-top: 30px;
			}
			& > h2,
			& > h3,
			& > h4{
				font-size: 18px;
				margin-bottom: 26px;
			}
			p{
				font-size: 16px;
			}
			img{
				margin-top: 30px;
			}
		}

	}
}
