$gf-red: #EA444E;
$gf-blue: #23337F;

// OVERIDE

.hide {
  display: none !important;
}

.lmt-layer {
  border: initial !important;
}

.lmt-layer.form-layer {
  width: 840px !important;
}

.gform_wrapper form ul.gform_fields:not(.top_label) li.gfield_html_formatted {
  margin: initial !important;
  width: initial !important;
}

// .gform_wrapper ul.gform_fields li.gfield {
// 	padding-right: initial !important;
// }

// .gform_wrapper ul.gform_fields {
// 	margin: auto !important;
// }

// .ginput_container_name, .ginput_container_address {
// 	width: 100% !important;
//     margin-left: 0 !important;
// }
form:not(.no-cta-style) .gform_heading {
  position: absolute;
  top: 20px;
  .gform_title {
    position: relative;
    top: -15px;
    text-align: center;
    color: white;
    font-size: .8em !important;
  }
  .gform_description {
    position: relative;
    top: 50px;
    color: white;
    font-size: .8em;
    display: block;
    text-align: center;
    width: 100% !important;
  }
}

.gform_body {
  width: 90% !important;
  margin: auto !important;
}

.gform_wrapper .gf_progressbar_wrapper h3.gf_progressbar_title {
  margin: 0 !important;
}

.gf_progressbar_title {
  color: #FFFFFF;
  font-size: 23px !important;
  font-weight: bold !important;
  position: relative;
  top: 40px;
  width: 100%;
  text-align: center;
  opacity: 1 !important;
  &:after {
    content: "";
    display: block;
    width: 115px;
    height: 4px;
    margin: 20px auto 0 auto;
    background-color: $gf-red;
  }
}

.gf_progressbar {
  background-color: initial !important;
  padding: 0 !important;
  width: 100% !important;
  position: absolute !important;
  top: 0 !important;
}

.gf_progressbar_percentage {
  background: initial !important;
  background-color: $gf-red !important;
  height: 12px !important;
}

.gf_progressbar_wrapper {
  position: absolute;
  top: 0;
}

.gf_progressbar_percentage span {
  font-size: 10px !important;
  position: relative;
  top: -4px;
  font-weight: bold;
}

.gform_wrapper .gf_progressbar:after {
  content: initial !important;
}

.gform_page_footer {
  border: none !important;
  margin: 25px 0 !important;
  text-align: initial;
  padding-top: initial !important;
}

.left_label, .right_label {
  padding: initial !important;
}

// .gf-link-li {
// 	position: absolute;
//    	@media screen and (min-width: 200px) and (max-width: 600px) {
// 	    top: 39%;
// 	    left: 18%;
// 	}
// 	@media screen and (min-width: 601px) and (max-width: 800px) {
// 	    top: 50%;
// 	    left: 12%;
// 	}
// 	@media screen and (min-width: 801px) and (max-width: 1000px) {
// 	    top: 50%;
// 	    left: 15%;
// 	}
// 	@media screen and (min-width: 1001px) and (max-width: 1200px){
// 	    top: 50%;
// 	    left: 25%;
// 	}
// 	@media screen and (min-width: 1201px) and (max-width: 1400px){
// 	    top: 50%;
// 	    left: 30%;
// 	}
// 	@media screen and (min-width: 1401px) and (max-width: 1600px){
// 	    top: 50%;
// 	    left: 33%;
// 	}
// 	@media screen and (min-width: 1601px){
// 	    top: 50%;
// 	    left: 35%;
// 	}
// }

.gf-link {
  height: 14px;
  width: 247px;
  color: #23337F;
  font-size: 14px;
  line-height: 17px;
}

.gfield_radio {
  width: 100%;
  padding: 0 !important;
  li {
    display: inline-block;
    label {
      border: 3px solid $gf-blue;
      border-radius: 27px;
      background-color: #FFFFFF;
      padding: 10px 35px !important;
      color: $gf-blue;
      font-size: 18px !important;
      line-height: 22px !important;
      max-width: initial !important;
      width: initial !important;
    }
    input {
      display: none !important;
    }
    input[type="radio"]:checked + label {
      background-color: $gf-blue;
      color: #FFFFFF;
    }
  }
}

.gfield_select, select {
  border: 1px solid $gf-blue;
  color: $gf-blue;
  height: 36px;
  background-color: white;
  outline: none;
  position: relative;
  border-radius: 0;
}

.image-choices-choice {
  border: 3px solid $gf-blue !important;
  border-radius: 25px;
  height: 185px;
  width: 185px;
  @media screen and (min-width: 200px) and (max-width: 640px) {
    width: 160px;
  }
  .image-choices-choice-text {
    height: 26px;
    width: 106px;
    color: $gf-blue;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
  }
  &:hover {
    background-color: $gf-blue;
    .image-choices-choice-text {
      color: white !important;
    }
  }
}

.image-choices-choice-selected {
  background-color: $gf-blue;
  .image-choices-choice-text {
    color: white !important;
  }
}

.gform_fields {
  li {
    .gfield_time_minute, .gfield_time_hour {
      input {
        width: calc(3rem + 8px) !important;
      }
    }
    .gfield_label {
      color: $gf-blue;
      font-size: 14px;
    }
    .textarea {
      border: 3px solid $gf-blue;
      border-radius: 27px;
      &:focus {
        outline: 0;
      }
      @media screen and (min-width: 350px) and (max-width: 640px) {
        width: 100% !important;
      }
    }
    input {
      border: 3px solid $gf-blue;
      border-radius: 27px;
      padding: 10px !important;
      &:focus {
        outline: 0;
      }
    }
  }
}

.gform_button {
  border-radius: 16px;
  background-color: $gf-red;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  padding: 15px 25px;
  width: initial !important;
  float: right;
  margin-right: 10px !important;
  &:focus {
    outline: 0;
  }
}

form.no-cta-style .gform_footer, form.no-cta-style .gform_page_footer {
  text-align: right;
  input.gform_button, input.button {
    float: none;
  }
}

.gform_previous_button {
  border-radius: 16px;
  color: $gf-blue;
  font-size: 18px;
  line-height: 16px !important;
  display: inline-block;
  padding: 10px 25px;
  border: none !important;
  white-space: normal;
  width: 130px !important;
  margin-left: 10px !important;
  text-align: left;
  &:focus {
    outline: 0;
  }
}

.gform_next_button {
  border-radius: 16px;
  background-color: $gf-blue;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 16px !important;
  display: inline-block;
  padding: 10px 25px;
  white-space: normal;
  width: 130px !important;
  float: right;
  margin-right: 10px !important;
  text-align: right;
  &:focus {
    outline: 0;
  }
}

.gfield_error {
  background-color: initial !important;
  border: none !important;
}

.gform_wrapper .gfield_error .gfield_label {
  color: $gf-blue;
}

.validation_message {
  color: #FFFFFF !important;
  font-size: 14px !important;
  line-height: 14px;
  display: inline;
  transform: scaleY(-1);
  background-color: $gf-red;
  position: relative;
  padding: 10px !important;
  top: 10px;
  left: 0;
}

.gf-img {
  width: 100%;
  height: 130px;
  object-fit: cover;
}

.validation_error {
  display: none;
}

.iframe-container {
  iframe {
    border-radius: 26px 26px 0 0;
  }
}

.gfield_required {
  display: none !important;
}

.gform_confirmation_message {
  text-align: center;
  padding: 20px;
}

// PAGE 1
.gf-page-1 {
  text-align: center;
  .gf-init-form {
    height: 54px;
    width: 413px;
    border-radius: 27px;
    background-color: $gf-red;
    margin-top: 40px;
    &:focus {
      outline: 0;
    }
    span {
      height: 18px;
      width: 231px;
      color: #FFFFFF;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
    }
  }
  .sub-text {
    height: 22px;
    width: 370px;
    color: #2C2554;
    font-size: 14px;
    line-height: 13px;
    margin: auto;
    margin-top: 20px;
    display: block;
  }
}
