.hero{
	img{
		width: 100%;
	}
}
.hero-push{
	position: relative;
	height: calc( 100vh - 60px );
	&.hero-push-need {
		&::after {
			z-index: 1;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: "";
			height: 100%;
			width: 100%;
			background-color: rgba(255, 255, 255, .75);
		}
	}

	[class*="inner"]{
		box-sizing: border-box;
		height: 100%;
	    overflow: hidden;
		position: relative;
		padding: 20px 0;
	    width: 100%;
	}
	.carousel-inner{
		padding: 0;
	}
	.carousel-control-prev,
	.carousel-control-next{
		z-index: 10;
		&:before,
		&:after{
			background: #fff;
			border-radius: 2px;
			content: "";
			display: block;
			height: 4px;
			left: 50%;
			position: absolute;
			top: 50%;
			width: 30px;
		}
		[aria-hidden="true"]{
			display: none;
		}
	}
	.carousel-control-prev{
		transform: scale( -1 );

		&:before{
			transform: rotate( -50deg ) translate( -50%, -50% );
		}
		&:after{
			transform: rotate( 50deg ) translate( -50%, -50%  );
			margin-top: 2px;
			margin-left: -2px;
		}
	}
	.carousel-control-next{
		&:before{
			transform: rotate( 50deg ) translate( -50%, -50% );
		}
		&:after{
			transform: rotate( -50deg ) translate( -50%, -50%  );
			margin-top: -2px;
			margin-left: 2px;
		}
	}
	[class*="item"]{
		height: 100%;

		&:not(.alt):before{
			background: rgba(0,0,0,.5);
			content: "";
			display: block;
			height: 100%;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 2;
		}
		&.alt {
			.container{
				color: $soxo-grey-dark;
			}
			.title:after{
				background: $soxo-red;
			}
		}

		.media-container{
			height: 100%;
			overflow: hidden;
			position: absolute;
			top: 0;
			width: 100%;

			img{
				left: 50%;
				max-width: none;
				min-height: 100%;
				min-width: 100vw;
				transform: translateX( -50% );
				position: absolute;
				top: 0;
				width: auto;
				z-index: 1;
			}
		}
		.container{
			align-items: center;
			color: #fff;
			display: flex;
			flex-direction: column;
			height: 100%;
			padding: 10px 60px;
			flex-wrap: nowrap;
			justify-content: center;
			position: relative;
			text-align: center;
			z-index: 5;
		}
		.cat{
			background: $soxo-grey-light;
			color: $soxo-blue-dark;
			display: inline-block;
			font-size: 16px;
			margin-bottom: 16px;
			padding: 6px 10px;
			text-transform: uppercase;
		}
		.date{
			font-size: 18px;
			margin-bottom: 6px;
		}
		a.title-link {
			color: #FFF;
			&:hover {
				text-decoration: none;
			}
		}
		.title{
			font-size: 40px;
			font-weight: 100;
			margin-bottom: 20px;

			&:after{
				background: #fff;
				content: "";
				display: block;
				height: 4px;
				margin: 10px auto 14px;
				width: 74px;
			}
		}
		.content{
			font-size: 22px;
			margin-bottom: 26px;
			padding: 0;
			width: 100%;
		}
		p{
			width: 100%;
		}
	}

	&.oneslide {
		.carousel-control-prev,
		.carousel-control-next,
		.carousel-indicators {
			display: none;
		}
	}

}
/*
@include media-breakpoint-up(sm) {

	border:1px solid red;
	.hero-push{
		&.hero-push-need {
			min-height: 500px;
		}
	}

	.hero-push:not(.large){
		height: 548px;
	}
}
*/
@include media-breakpoint-up(md) {


	.hero-push{
		&.hero-push-need {
			min-height: 500px;
		}
	}

	.hero-push:not(.large){
		height: 548px;
	}
}
