
.push-list{
	margin-bottom:40px;
	.row{
		[class*="col-"]{
			box-sizing: border-box;
			order: 2;
			flex-grow: 0;
			flex-shrink: 0;
			max-width: none;
			flex-basis: 100%;
			width: 100%;

			&:nth-child(1){
				padding: 80px 30px 40px;
			}
			&:nth-child(2){
				order: 1;
				padding: 0;
			}
			img:not(.pdt){
				display: block;
				width: 100%;
			}
		}
	}
		.colored{
			color: #fff;

			.choose-sodexo--container_subtitle{
				color: #fff;
			}
			.choose-sodexo--container_subtitle{
				&:after{
					background: #fff;
				}
			}
		}
		.pdt{
			left: 50%;
			position: absolute;
			top: 100%;
			transform: translate( -50%, -50% );
			width: 300px;
		}
		.choose-sodexo--container_subtitle{
			color: $soxo-blue-dark;
			font-size: 26px;
			font-weight: 500;
		}
		.btns{
			margin-bottom: 0;
			text-align: center;
		}
		.btn-sodexo.btn-sodexo-grey{
			background-color: #fff;
		}

	@include media-breakpoint-up(md) {
		.pdt{
			width: 340px;
		}
		.choose-sodexo--container_subtitle{
			text-align: left;

			&:after{
				margin-left: 0;
			}
		}
	}
	@include media-breakpoint-up(lg) {
		& > .item{
			[class*="col-"]{
				flex-basis: auto;
				width: 50%;

				&:nth-child(1){
					padding: 50px 130px 30px 20px;
				}
				&:nth-child(2){
					order: 2;

					.pdt{
						left: auto;
						right: 100%;
						transform: translateX( 50% );
					}
				}
			}
			&:nth-child(even){
				[class*="col-"]{
					&:nth-child(1){
						padding-left: 140px;
						padding-right: 20px;
					}
					&:nth-child(2){
						order: 1;
						.pdt{
							left: 100%;
							transform: translateX( -50% );
						}
					}
				}
				img:not(.pdt){
					padding-left: 20px;
					padding-right: 0;
				}
			}
			img:not(.pdt){
				padding-right: 20px;
			}
		}
		.row{
			.choose-sodexo--container_subtitle{
				margin-top: 0;
			}
		}
		.pdt{
			top: 80px;
			width: 300px;
		}
	}
}
// END BREACKING POINT LG


.otherneeds{
		background: $soxo-grey-light;
		margin: 0 auto;
		padding: 30px 0 100px 0;
		width: 100%;
		text-align: center;

		&-desktop {
			display: none;
		}

		&-mobile {
			display: block;
			max-width: 300px;
			margin: 0 auto;

			.slick-dots {
				bottom: -40px;
			}
		}

		.img-other-need-cont{
			width:100%;
			max-width: 310px;
			height:170px;
			margin-bottom:20px;
			margin-left: auto;
			margin-right: auto;
			background-color:#ccc;
			background-size:cover;
			background-position: center;
		}

		.relatedcontent {
			h3 {
				color: $soxo-blue-dark;
		    font-size: 15px;
				line-height: 20px;
				font-weight: normal;
		    text-transform: uppercase;
		    text-align: center;
				a {
					color: $soxo-blue-dark;

					text-decoration: none;
				}
			}
		}
}

@include media-breakpoint-up(lg) {

.otherneeds{

		&-desktop {
			display: block;
		}

		&-mobile {
			display: none;
		}
	}
}


.push-stats{
	background: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 40px;
	position: relative;
	z-index: 5;

	&--piece{

		margin-bottom: 0;
		text-align: center;
		/*width: calc( 50% - 10px );*/
		width:auto;
	}

	.figure{
		background: $soxo-blue;
		border-radius: 50%;
		box-sizing: border-box;
		color: #fff;
		height: 84px;
		line-height: 1;
		font-size: 22px;
		padding: 6px;
		position: relative;
		text-align: center;
		width: 84px;

		span{
			display: inline-block;
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.container{
		padding: 0;
	}

	.figure-ex{
		margin-top: 10px;
		margin-bottom: 0;

		p{
			margin-bottom: 0;
		}
	}





@include media-breakpoint-up(md) {

		background: none;
		margin-bottom: -40px;
		padding-bottom: 0;
		width: 100%;

		&--piece{
			margin-bottom: 0;
			text-align: center;
			width: calc( 50% - 10px );

		}

		.figure{
			height: 100px;
			width: 100px;
		}
}


.needs-aside{
	.blog-component--block {
		.col-8{
			margin-left: 0;
			margin-right: 0;
		}
		& + .blog-component--cta{
			margin-top: 0;
		}
	}

	.carousel-indicators{
		position:relative;
		margin:10px 0 0 ;
	}
}
}


@include media-breakpoint-up(lg) {




		.single-need{
			.hero-push{
				.push-stats{
					padding: 40px;
					.push-stats--piece{
						/*border:1px solid red;*/
						padding-left:30px;
						padding-right:30px;
					}

				}
		}

	}



}
