.rp-content {
	#page {
		padding-top: 0;
		#MenuTop {
			display: flex;
		}
	}
	#blog-categories {
		button {
			&:focus {
				outline: none;
			}
		}
	}
	.hero {
		img {
			@media screen and (max-width: 768px) {
	            height: 375px;
    			object-fit: cover;
	        }
	        @media screen and (min-width: 768px) and (max-width: 1025px) {
	            height: 440px;
    			object-fit: cover;
	        }
		}
	}
	.blog-header {
		background-color: $soxo-blue-cyan;
		color: white;
		.blog-header-content {
			width: 100%;
			margin: auto;
			text-align: center;
			padding: 20px;
			.blog-header-link {
				color: $soxo-blue-cyan;
				text-decoration: none;
				padding: 5px 20px;
				background-color: #FFF;
				border-radius: 1000px;
				margin-left: 10px;
				display: inline-block;
			}
			.blog-header-dropdown-content {
				position: relative;
				display: inline-block;
				#show-dropdown {
					background-color: transparent;
					border: 1px solid #FFF;
					padding: 5px 20px;
					border-radius: 1000px;
					margin-left: 10px;
					color: #FFF;
					&:focus {outline: none;}
					&:after {
						font-family: "soxo-icons";
						content: '\e81c';
						margin-left: 5px;
					}
				}
				.blog-header-dropdown {
					display: none;
					padding: 5px 10px;
					margin: 0;
					list-style-type: none;
					position: absolute;
					top: 40px;
					background-color: $soxo-blue-cyan;
					z-index: 1;
					width: 100%;
					height: 225px;
    				overflow-x: scroll;
					li {
						padding: 10px 0;
					 	a {
					 		color: #FFF;
					 		text-decoration: none;
						}
					}
				}
				.show {
					display: block !important;
				}
				.show-dropdown-open {
					&:after {
						content: '\e823' !important;
					}
				}
			}
		}
	}

	.blog-component {
		li {
			display: none;
			list-style-type: none;
		}
		#newsletter-2 {
			display: block !important;
		}
	}
	.blog-article {
		.sodexo-article-title, .article-infos {
			text-align: left;
		}
	}
	.social {
		.linkedin {
			width: 36px;
			margin-left: 0;
		}
		.mail {
			width: 40px;
			margin-left: -4px;
		}
	}
}
