#sideNav {
    background-color: #FFF;
    box-sizing: border-box;
    height: 100vh;
    max-width: 320px;
    position: fixed;
    right: 0;
    padding: 0;
    top: 0;
    transition: transform ease-in-out .3s;
    transform: translateX( 100% );
    width: ( 468vw / 640 * 100 );
    z-index: 9000;

    & > div{
      padding: 54px 24px 100px;
      overflow: auto;
      height: 100%;
    }

    &.show {
      transform: translateX( 0 );
    }

    .soxo-hamburger{
      background: none;
      position: absolute;
      right: 100%;
      margin-right: 20px;
      height: 20px;
      top: 20px;
      width: 20px;

      span{
        height: 2px;
        &:before,
        &:after{
          background-color: #fff;
          height: 2px;
        }
      }
    }

    .side-menu-login-item {
      text-align: center;
      margin: 0 0 40px;

      .btn-sodexo {
        font-size: 12px;
        padding: 10px 8px;
        width: 100%;

        &:before {
          font-size: 18px;
          margin-right: 8px;
        }
      }
    }

  .input-group{
    border-bottom: 1px solid $soxo-grey-dark;
    margin-bottom: 40px;

    input[type="search"],
    input[type="text"]{
      border: 0 none;

      &::-ms-clear {
          display: none;
      }

      @include input-placeholder{
        color: $soxo-grey-dark;
        font-style: italic;
        opacity: .6;
      }
    }
    .input-group-btn{
      overflow: hidden;
      position: relative;
      width: 40px;

      input[type="submit"]{
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      &:before{
        content: '\e806';
        color: $soxo-blue;
        display: inline-block;
        font-family: "soxo-icons";
        font-size: 20px;
        text-align: center;
      }
    }
  }
}
  .menu-burger-menu-container{
    .menu-item{
      float: none;
    }
    .navbar-nav{
      & > li {
        & > .nav-link{
          border-bottom: 1px solid $soxo-grey;
          padding: 18px 12px;
        }
        & > .sub-menu{
          border-bottom: 1px solid $soxo-grey;
          padding: 25px 0;
        }
        & > .dropdown-toggle{
          padding-right: 26px;
        }
      }
      .link-aside{
        margin-top: 40px;

        & + .link-aside{
          margin-top: 18px;
        }

        .nav-link{
          border: 1px solid $soxo-grey;
          border-radius: 50px;
          font-size: 14px;
          justify-content: center;
          padding: 10px;
          text-align: center;
        }
        &.shopping{
          .nav-link:before{
            color: $soxo-blue;
            content: '\e80a';
            font-family: "soxo-icons";
            font-size: 18px;
            margin-right: 10px;
          }
        }
      }
      .nav-link{
        align-items: center;
        color: $soxo-grey-dark;
        display: flex;
        justify-content: flex-start;
        text-transform: uppercase;
      }
      .dropdown-toggle{
        position: relative;

        &:before,
        &:after{
          background: $soxo-blue;
          border: 0 none;
          border-radius: 0 0 2px 2px;
          content: "";
          display: block;
          height: 16px;
          position: absolute;
          right: 20px;
          top: 50%;
          width: 2px;
        }
        &:before{
          margin-top: -16px;
          transform: rotate( -40deg );
          // transform-origin: 0 100%;
        }
        &:after{
          margin-top: -5px;
          transform: rotate( 40deg );
          // transform-origin: 100% 0;
        }

        &[aria-expanded="true"]{
          font-weight: 600;

          &:before,
          &:after{
            margin-top: -10px;
          }

          &:before{
            right: 16px;
            transform: rotate( 50deg );
          }
          &:after{
            right: 27px;
            transform: rotate( 130deg );
          }
          .caret{
            display: none;
          }
        }
      }
      .sub-menu{
        border: 0 none;
        border-radius: 0;
        padding: 0;
        position: static;
        transition: all linear .15s;

        .nav-link{
          font-size: 15px;
          padding: 4px 10px 4px 16px;

          &:before,
          &:after{
            height: 7px;
            width: 1px;
          }
          &:before{
            margin-top: -6px;
          }
          &:after{
            margin-top: -1px;
          }
          &[aria-expanded="true"]{
            &:before,
            &:after{
              margin-top: -6px;
            }
            &:after{
              right: 21px;
            }
          }
          &:focus{
            font-weight: 600;
          }
          &:hover{
            background: none;
          }
        }
        .meal,
        .gift,
        .leisure,
        .public,
        .mobility{
          & > a{
            padding-left: 60px;
          }
          .sub-menu{
            padding-left: 46px;
          }
        }
        .sub-menu{
          display: none;
          padding-left: 16px;

          &[aria-expanded="true"]{
            display: block;
          }

          .nav-link{
            font-size: 13px;
            text-transform: none;
          }
        }
      }

    }

    .meal,
    .gift,
    .leisure,
    .public,
    .mobility{
      position: relative;

      & > a{
        min-height: 44px;
      }

      &:before{
        background: #283897;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 50%;
        color: #FFF;
        display: block;
        font-family: 'soxo-icons';
        font-weight: normal;
        font-style: normal;
        font-size: 22px;
        height: 35px;
        left: 12px;
        line-height: 35px;
        position: absolute;
        top: 4px;
        text-align: center;
        text-decoration: inherit;
        transition: all .6s;
        width: 35px;
      }
    }
    .meal:before{
      content: "\e800";
    }
    .gift:before{
      content: "\e802";
    }
    .need:before{
      content: "\e801";
    }
    .leisure:before{
      content: "\e825";
    }
    .public:before{
      content: "\e803";
    }
    .mobility:before{
      content: "\e804";
    }
  }

.sidenav-overlay {
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: rgba(0,0,0,.5);
  z-index: 8500;
  transition: background .6s;

  &.collapsed {
    background-color: rgba(0,0,0,0);
    width: 0;
  }
}

@include media-breakpoint-up(md) {
  #sideNav {

    & > div{
      padding-bottom: 54px;
    }

    .side-menu-login-item {
      .btn-sodexo {
        font-size: 15px;

        &:before {
          font-size: 22px;
        }
      }
    }
  }
}
