#page .widget-store-locator {
  body.lazyload-off & {
    background: url('../images/bg-store-locator.jpg') no-repeat center center;
  }
  body.lazyload-on & {
    &.loaded {
      background: url('../images/bg-store-locator.jpg') no-repeat center center;
    }
  }

  background-size: cover;
  color: #fff;
  //left: 50%;
  padding: 54px 10px;
  position: relative;
  text-align: center;
  //transform: translateX( -50% );
  width: 100%;

  .choose-sodexo--cta {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .sodexo-pretitle {
    font-size: 32px;
    font-weight: 100;

    strong {
      font-weight: 600;
    }
  }
  p {
    font-size: 20px;
  }
  .row {
    justify-content: center;
    a {
      margin: 0 14px;
    }
  }
}

[data-iframe-map] {
  height: 100vh;

  iframe {
    border: 0 none;
    height: 100%;
    width: 100%;
  }
  p {
    margin-bottom: 0;
    position: relative;
  }
  .loading-deco {
    &:before,
    &:after,
    span {
      animation: loading 1s ease-in-out infinite;
      background-color: $soxo-grey-dark;
      border-radius: 50%;
      display: inline-block;
      height: 2px;
      margin-left: 2px;
      width: 2px;
    }
    &:before,
    &:after {
      content: "";
    }
    //&:before{
    //	animation-delay: 0;
    //}
    span {
      animation-delay: .2s;
    }
    &:after {
      animation-delay: .4s;
    }
  }
  @keyframes loading {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scale(2);
    }
    40% {
      transform: scale(1);
    }
  }

}
