.home {
  #MenuTop {
    display: flex;
  }
}

#MenuTop {
  padding: 0 15px;
  z-index: 100;
  background-color: #FFF;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  h1 {
    margin: 0;
    padding: 0;
  }

  .top-menu-left-section {
    justify-content: flex-start;
  }

  .top-menu-right-section {
    display: flex;
    flex: 0;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 10px;
  }

  .navbar-brand {
    margin: 15px 0;
    padding: 0;
    max-width: 185px;
  }

  .menu-top-nav-container {
    flex: 1;

    .navbar-nav {
      font-size: 14px;
      flex-direction: row;
      justify-content: center;

      img {
        margin-bottom: 2px;
      }

      a {
        padding: 10px 18px 10px 4px;
        color: #000;
      }
    }
  }

  .soxo-hamburger {
    margin-left: 30px;
  }

  .burger {
    .soxo-hamburger {
      display: inline-block;
      margin-left: initial;
    }
  }

}

.burger {
  flex: 0;
  text-align: end;
  color: #283896;
  font-size: 14px;

  .soxo-hamburger {
    display: inline-block;
    margin-left: 0;
  }
}

.top-menu-login-item {
  flex: 1;
  text-align: end;
  padding-right: 25px;
  min-width: 100%;

  a {
    text-transform: none;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    color: #000;
    font-size: 14px;

    &::before {
      color: $soxo-blue;
    }

  }
}

@include media-breakpoint-down(md) {

  #MenuTop {
    display: flex;
    position: fixed;
    top: 0;
    height: 60px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);

    .navbar-brand {
      margin: 0;

      img {
        width: 145px;
      }
    }

    .menu-top-nav-container {
      display: none;
    }
  }
}
