.LnkWcbForm-container-pos {
  // display: block !important; // for testing
  // visibility: visible !important; // for testing
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
  left: 50% !important;
  right: auto !important;
  float: none !important;

  .LnkWcbForm-container {
    // visibility: visible !important; // for testing
    // border-top-left-radius: 15px;
    // border-top-right-radius: 15px;
    border-radius: 15px;
    overflow: hidden;
    border: 1px solid $soxo-grey;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    .LnkWcbForm-closer {
      background: $soxo-blue-dark;
      bottom: auto;
      top: 10px;
      z-index: 1000;
    }

    .LnkWcbForm-header {
      background-color: $soxo-blue-dark;
    }

    .LnkWcbForm-input-tel {
      border: 1px solid $soxo-grey;
    }

    .LnkWcbForm-bt-valider {
      opacity: 1;
      border-radius: 20px;
      background: $soxo-red;

      &:hover,
      &:focus {
        background: $soxo-red-dark;
      }
    }

  }

}
