.vc_ui-panel {
  &[data-vc-shortcode="carousel_they_trust_widget"] {
    .gallery_widget_add_images {
      width: 130px;
      height: 228px;
    }
    .added {
      width: 130px;
      height: auto;
      .inner {
        //override javascript inline style
        width: auto !important;
        height: auto !important;
      }

      img {
        max-height: 130px;
      }
      .image-wrapper {
        min-height: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .input-wrapper {
        padding: 0 3px 3px;
        display: flex;
        flex-direction: column;
        .input-inner-wrapper {
          display: flex;
          flex-direction: column;
          &.checkbox {
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
          }
        }
        label {
          height: 30px;
          line-height: 30px;
          text-align: left;
        }
        input {
          width: 100%;
          padding: 8px 6px;
          margin: 0;
          border: 1px solid #ddd;
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.07);
          background-color: #fff;
          color: #32373c;
          outline: none;
          transition: 0.05s border-color ease-in-out;
          &[type=checkbox] {
            width: 17px;
            height: 17px;
          }
        }

      }
      .vc_icon-remove {
        top: 6px;
        right: -8px;
        left: auto;
        line-height: 1;
        text-decoration: none;
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        background-color: rgba(255, 255, 255, .5);
        .vc-composer-icon {
          position: static;
          margin: 0;
          padding: 0;
        }
      }
    }
    .edit_form_line {
      visibility: hidden;
      &.show {
        visibility: visible;
      }
    }

  }
}

@-webkit-keyframes spin-font {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin-font {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

#robotstxtform {
  .dropZone {
    min-height: 25px;
    padding-left: 15px;
    display: inline-flex;
    align-items: center;
    .loading {
      color: #9c9c9c;
      span {
        animation: spin-font 2s infinite linear;
      }
    }
    .success {
      color: #2fae39;
    }
    .failure, .fail, .error {
      color: #e40007;
    }
  }
  + h2 {
    display: none;
  }
}

#htaccessform {
  display: none;
}