
@font-face {
  font-family: 'SansaPro-Light';
  src: url('SansaPro-Light.eot?#iefix') format('embedded-opentype'),  url('SansaPro-Light.otf')  format('opentype'),
	     url('SansaPro-Light.woff') format('woff'), url('SansaPro-Light.ttf')  format('truetype'), url('SansaPro-Light.svg#SansaPro-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
