
@font-face {
  font-family: 'SansaPro-Normal';
  src: url('SansaPro-Normal.eot?#iefix') format('embedded-opentype'),  url('SansaPro-Normal.otf')  format('opentype'),
	     url('SansaPro-Normal.woff') format('woff'), url('SansaPro-Normal.ttf')  format('truetype'), url('SansaPro-Normal.svg#SansaPro-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}
