@font-face{font-family:'ip-soxo-icons';src:url(fonts/ip-soxo-icons.eot?-3p8lp4);src:url(fonts/ip-soxo-icons.eot?#iefix-3p8lp4) format('embedded-opentype'),url(fonts/ip-soxo-icons.woff?-3p8lp4) format('woff'),url(fonts/ip-soxo-icons.ttf?-3p8lp4) format('truetype'),url(fonts/ip-soxo-icons.svg?-3p8lp4#ip-soxo-icons) format('svg');font-weight:400;font-style:normal}
        #navbar-combined .navbar-top-menu-bar .menu-top-menu-affiliate-bar-container ul.top-menu-main>li[class*=ip-soxo-icons-]>a::before,#navbar-combined .navbar-top-menu-bar .menu-top-menu-bar-container ul.top-menu-main>li[class*=ip-soxo-icons-]>a::before,.top_menu .top-menu--tabs_list li a[class*=ip-soxo-icons-]::after,#burger-menu li[class*=ip-soxo-icons-]>a::before, .footer-menu-main li[class*=ip-soxo-icons-]>a::before, #menu-top-nav li[class*=ip-soxo-icons-]>a::before {font-family:ip-soxo-icons!important;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
        #burger-menu li[class*=ip-soxo-icons-]>a::before, #menu-top-nav li[class*=ip-soxo-icons-]>a::before {margin-top:auto;margin-right: 5px;width: auto;height: auto;}
.ip-soxo-icons-meal > a:before, ul[class*=top-menu-] .ip-soxo-icons-meal:after {
	content:'\e800';
}
.ip-soxo-icons-heart > a:before, ul[class*=top-menu-] .ip-soxo-icons-heart:after {
	content:'\e801';
}
.ip-soxo-icons-gift > a:before, ul[class*=top-menu-] .ip-soxo-icons-gift:after {
	content:'\e802';
}
.ip-soxo-icons-handshake > a:before, ul[class*=top-menu-] .ip-soxo-icons-handshake:after {
	content:'\e803';
}
.ip-soxo-icons-localisation > a:before, ul[class*=top-menu-] .ip-soxo-icons-localisation:after {
	content:'\e804';
}
.ip-soxo-icons-square > a:before, ul[class*=top-menu-] .ip-soxo-icons-square:after {
	content:'\e805';
}
.ip-soxo-icons-search-2 > a:before, ul[class*=top-menu-] .ip-soxo-icons-search-2:after {
	content:'\e806';
}
.ip-soxo-icons-phone > a:before, ul[class*=top-menu-] .ip-soxo-icons-phone:after {
	content:'\e807';
}
.ip-soxo-icons-messages > a:before, ul[class*=top-menu-] .ip-soxo-icons-messages:after {
	content:'\e808';
}
.ip-soxo-icons-calc > a:before, ul[class*=top-menu-] .ip-soxo-icons-calc:after {
	content:'\e809';
}
.ip-soxo-icons-shopping > a:before, ul[class*=top-menu-] .ip-soxo-icons-shopping:after {
	content:'\e80a';
}
.ip-soxo-icons-play > a:before, ul[class*=top-menu-] .ip-soxo-icons-play:after {
	content:'\e80b';
}
.ip-soxo-icons-touch > a:before, ul[class*=top-menu-] .ip-soxo-icons-touch:after {
	content:'\e80c';
}
.ip-soxo-icons-user > a:before, ul[class*=top-menu-] .ip-soxo-icons-user:after {
	content:'\e80d';
}
.ip-soxo-icons-envelope-open > a:before, ul[class*=top-menu-] .ip-soxo-icons-envelope-open:after {
	content:'\e80e';
}
.ip-soxo-icons-devices > a:before, ul[class*=top-menu-] .ip-soxo-icons-devices:after {
	content:'\e80f';
}
.ip-soxo-icons-business-man > a:before, ul[class*=top-menu-] .ip-soxo-icons-business-man:after {
	content:'\e810';
}
.ip-soxo-icons-people > a:before, ul[class*=top-menu-] .ip-soxo-icons-people:after {
	content:'\e811';
}
.ip-soxo-icons-building > a:before, ul[class*=top-menu-] .ip-soxo-icons-building:after {
	content:'\e812';
}
.ip-soxo-icons-city-hall > a:before, ul[class*=top-menu-] .ip-soxo-icons-city-hall:after {
	content:'\e813';
}
.ip-soxo-icons-person > a:before, ul[class*=top-menu-] .ip-soxo-icons-person:after {
	content:'\e814';
}
.ip-soxo-icons-close > a:before, ul[class*=top-menu-] .ip-soxo-icons-close:after {
	content:'\e815';
}
.ip-soxo-icons-check > a:before, ul[class*=top-menu-] .ip-soxo-icons-check:after {
	content:'\e816';
}
.ip-soxo-icons-download > a:before, ul[class*=top-menu-] .ip-soxo-icons-download:after {
	content:'\e817';
}
.ip-soxo-icons-icon-target > a:before, ul[class*=top-menu-] .ip-soxo-icons-icon-target:after {
	content:'\e818';
}
.ip-soxo-icons-question > a:before, ul[class*=top-menu-] .ip-soxo-icons-question:after {
	content:'\e819';
}
.ip-soxo-icons-envelop > a:before, ul[class*=top-menu-] .ip-soxo-icons-envelop:after {
	content:'\e81a';
}
.ip-soxo-icons-arrow-next > a:before, ul[class*=top-menu-] .ip-soxo-icons-arrow-next:after {
	content:'\e81b';
}
.ip-soxo-icons-arrow-down > a:before, ul[class*=top-menu-] .ip-soxo-icons-arrow-down:after {
	content:'\e81c';
}
.ip-soxo-icons-arrow-right > a:before, ul[class*=top-menu-] .ip-soxo-icons-arrow-right:after {
	content:'\e81d';
}
.ip-soxo-icons-search > a:before, ul[class*=top-menu-] .ip-soxo-icons-search:after {
	content:'\e81e';
}
.ip-soxo-icons-corporate_expense_dollar > a:before, ul[class*=top-menu-] .ip-soxo-icons-corporate_expense_dollar:after {
	content:'\e81f';
}
.ip-soxo-icons-corporate_expense_euro > a:before, ul[class*=top-menu-] .ip-soxo-icons-corporate_expense_euro:after {
	content:'\e820';
}
.ip-soxo-icons-flexible_remuneration_dollar > a:before, ul[class*=top-menu-] .ip-soxo-icons-flexible_remuneration_dollar:after {
	content:'\e821';
}
.ip-soxo-icons-arrow-previous > a:before, ul[class*=top-menu-] .ip-soxo-icons-arrow-previous:after {
	content:'\e822';
}
.ip-soxo-icons-arrow-up > a:before, ul[class*=top-menu-] .ip-soxo-icons-arrow-up:after {
	content:'\e823';
}
.ip-soxo-icons-arrow-left > a:before, ul[class*=top-menu-] .ip-soxo-icons-arrow-left:after {
	content:'\e824';
}
.ip-soxo-icons-offers > a:before, ul[class*=top-menu-] .ip-soxo-icons-offers:after {
	content:'\e825';
}
.ip-soxo-icons-flexible_remuneration_euro > a:before, ul[class*=top-menu-] .ip-soxo-icons-flexible_remuneration_euro:after {
	content:'\e826';
}
.ip-soxo-icons-health_wellness > a:before, ul[class*=top-menu-] .ip-soxo-icons-health_wellness:after {
	content:'\e827';
}
.ip-soxo-icons-leisure_offers > a:before, ul[class*=top-menu-] .ip-soxo-icons-leisure_offers:after {
	content:'\e828';
}
.ip-soxo-icons-motivation > a:before, ul[class*=top-menu-] .ip-soxo-icons-motivation:after {
	content:'\e829';
}
.ip-soxo-icons-needs > a:before, ul[class*=top-menu-] .ip-soxo-icons-needs:after {
	content:'\e82a';
}
.ip-soxo-icons-other_services > a:before, ul[class*=top-menu-] .ip-soxo-icons-other_services:after {
	content:'\e82b';
}
.ip-soxo-icons-pass_restaurant > a:before, ul[class*=top-menu-] .ip-soxo-icons-pass_restaurant:after {
	content:'\e82c';
}
.ip-soxo-icons-public_solutions > a:before, ul[class*=top-menu-] .ip-soxo-icons-public_solutions:after {
	content:'\e82d';
}
.ip-soxo-icons-work_life_balance > a:before, ul[class*=top-menu-] .ip-soxo-icons-work_life_balance:after {
	content:'\e82e';
}
.ip-soxo-icons-locator > a:before, ul[class*=top-menu-] .ip-soxo-icons-locator:after {
	content:'\e832';
}