@font-face {
  font-family: 'ip-soxo-icons';
  src:  url('fonts/ip-soxo-icons.eot?o2kktl');
  src:  url('fonts/ip-soxo-icons.eot?o2kktl#iefix') format('embedded-opentype'),
    url('fonts/ip-soxo-icons.ttf?o2kktl') format('truetype'),
    url('fonts/ip-soxo-icons.woff?o2kktl') format('woff'),
    url('fonts/ip-soxo-icons.svg?o2kktl#ip-soxo-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ip-soxo-icons-"], [class*=" ip-soxo-icons-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ip-soxo-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ip-soxo-icons-meal:before {
  content: "\e800";
}
.ip-soxo-icons-heart:before {
  content: "\e801";
}
.ip-soxo-icons-gift:before {
  content: "\e802";
}
.ip-soxo-icons-handshake:before {
  content: "\e803";
}
.ip-soxo-icons-localisation:before {
  content: "\e804";
}
.ip-soxo-icons-square:before {
  content: "\e805";
}
.ip-soxo-icons-search-2:before {
  content: "\e806";
}
.ip-soxo-icons-phone:before {
  content: "\e807";
}
.ip-soxo-icons-messages:before {
  content: "\e808";
}
.ip-soxo-icons-calc:before {
  content: "\e809";
}
.ip-soxo-icons-shopping:before {
  content: "\e80a";
}
.ip-soxo-icons-play:before {
  content: "\e80b";
}
.ip-soxo-icons-touch:before {
  content: "\e80c";
}
.ip-soxo-icons-user:before {
  content: "\e80d";
}
.ip-soxo-icons-envelope-open:before {
  content: "\e80e";
}
.ip-soxo-icons-devices:before {
  content: "\e80f";
}
.ip-soxo-icons-business-man:before {
  content: "\e810";
}
.ip-soxo-icons-people:before {
  content: "\e811";
}
.ip-soxo-icons-building:before {
  content: "\e812";
}
.ip-soxo-icons-city-hall:before {
  content: "\e813";
}
.ip-soxo-icons-person:before {
  content: "\e814";
}
.ip-soxo-icons-close:before {
  content: "\e815";
}
.ip-soxo-icons-check:before {
  content: "\e816";
}
.ip-soxo-icons-download:before {
  content: "\e817";
}
.ip-soxo-icons-icon-target:before {
  content: "\e818";
}
.ip-soxo-icons-question:before {
  content: "\e819";
}
.ip-soxo-icons-envelop:before {
  content: "\e81a";
}
.ip-soxo-icons-arrow-next:before {
  content: "\e81b";
}
.ip-soxo-icons-arrow-down:before {
  content: "\e81c";
}
.ip-soxo-icons-arrow-right:before {
  content: "\e81d";
}
.ip-soxo-icons-search:before {
  content: "\e81e";
}
.ip-soxo-icons-corporate_expense_dollar:before {
  content: "\e81f";
}
.ip-soxo-icons-corporate_expense_euro:before {
  content: "\e820";
}
.ip-soxo-icons-flexible_remuneration_dollar:before {
  content: "\e821";
}
.ip-soxo-icons-arrow-previous:before {
  content: "\e822";
}
.ip-soxo-icons-arrow-up:before {
  content: "\e823";
}
.ip-soxo-icons-arrow-left:before {
  content: "\e824";
}
.ip-soxo-icons-offers:before {
  content: "\e825";
}
.ip-soxo-icons-flexible_remuneration_euro:before {
  content: "\e826";
}
.ip-soxo-icons-health_wellness:before {
  content: "\e827";
}
.ip-soxo-icons-leisure_offers:before {
  content: "\e828";
}
.ip-soxo-icons-motivation:before {
  content: "\e829";
}
.ip-soxo-icons-needs:before {
  content: "\e82a";
}
.ip-soxo-icons-other_services:before {
  content: "\e82b";
}
.ip-soxo-icons-pass_restaurant:before {
  content: "\e82c";
}
.ip-soxo-icons-public_solutions:before {
  content: "\e82d";
}
.ip-soxo-icons-work_life_balance:before {
  content: "\e82e";
}
.ip-soxo-icons-locator:before {
  content: "\e832";
}
