
.block-image-list {
  padding-bottom: 60px;
  background-color: $soxo-blue-dark;

  &_content {
    &--image {
      text-align: center;
    }
    &--list {
      color: #FFF;
      list-style-type: none;
      h3 {
        margin-top: 30px;
        margin-left: -1.4em;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 20px;
      }
      p {
        font-weight: 300;
        font-size: 16px;
      }
    }
  }
}
