$soxo-blue: #2c2455;
$soxo-blue-ocean: #283897;
$soxo-blue-light: #f3f5fe;
$soxo-red: #ed424a;
$semi-bold: 600;
$bold: 800;

// Defining values
$screen-xs: 0;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 1025px;
$screen-md-max: ($screen-lg - 1);
$screen-xl: 1200px;
$screen-lg-max: ($screen-xl - 1);

.hide-tooltip {
    display: none;
}

.counter_with_icons {
    background: $soxo-blue-light;
    border-radius: 20px 20px;
    padding: 22px 30px;
    
    

    margin: 5px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

    &-tooltipOverlay {
        opacity: 1;
        & .rc-tooltip-arrow {
            border-width: 0;
            height: 10px;
            width: 10px;
            transform: rotate(45deg);
            display: block;
            background: white;
            border-bottom: 1px solid #c1c1c1;
            border-left: 1px solid #c1c1c1;
            z-index: 10;
            opacity: 1;

        }

        & .rc-tooltip-inner {
            padding: 15px;
            background-color: white;
            border: 1px solid #c1c1c1;
            box-shadow: 0 0 0 rgba(0,0,0,.17);
            border-radius: 0;
            z-index: 11;
            max-width: 310px;
            color: $soxo-blue;
            font-size: 12px;
                
            }
    }

    &-tooltipLink {
        position: absolute;
        top: 15px;
        right: 15px;
        height: 20px;
        width: 20px;
        background: white url(./images/info.svg) no-repeat;
        background-size: auto 12px; 
        background-position: 50% 50%;
        border-radius: 10px;
        border: 1px solid #c1c1c1;
        cursor: pointer;

        &:hover {
            background-color: rgba(193, 193, 193, 0.20);
        }
    }


    



    &-label {
        color: #5f6062;
        font-size: 12px;
        margin: 0;
        display: none;
        text-align: center;
        
    }

    &-text {
        font-size: 14px;
        color: $soxo-blue-ocean;
        margin: 15px 0 30px 0;
        text-align: center;
        max-width: 100%;

        &.label-after {
            
            margin-bottom: 0;
            

            & + p {
                display: block;
                margin: 10px 0;
            }
        }
    }

    &-icon {
        max-height: 50px;
        height: 50px;
    }

    .counter {
        width: 80%;
        &-input {
            width: calc(100% - 90px);
        }
    }
}

@media (max-width: $screen-md) { 

    .counter_with_icons {
        background: $soxo-blue-light;
        border-radius: 10px 10px;
        padding: 15px 15px;
        
        margin-bottom: 10px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &-text {
            font-size: 12px;
            margin: 10px 0 15px 0;
        }

        &-label {
            color: #5f6062;
            font-size: 10px;
        }

        &-icon {
            max-height: 25px;
            height: 25px;
        }
    }
}


@media (max-width: $screen-sm) { 
    .counter_with_icons {
        .counter {
            width: 100%;
            &-input {
                width: calc(100% - 50px);
            }
        }
    }
}