@import './../../styles/base';

#root > [data-reactroot] { 
    .simulator.chile {
        & .settings {
            //height: 516px;

            & .container_simulator {
                //max-height: 516px;
                height: 530px;
                overflow-y: hidden;
                padding: 20px 10px 20px 10px;
            }
    
            &__block {

                display: flex;
                padding: 0 5px;
                height: 100%;
                
                & > .counter_with_icons {
                    margin-right: 5px;
                    flex: 0 0 calc(50% - 5px);
                    width: 50%;
                }

                &  > .counter_with_icons + .counter_with_icons {
                    margin-left: 5px;
                }
    
            }
        }
    
        & .results {
            background-image: url('./../../images/wave.svg');
            background-position: 0% 75%;
            
            &__full {

                & .bar  {
                    margin-top: 30px;
                    display: flex;
                    align-items: center;
                }
            }
    
            &__header {
                margin-bottom: 30px;
            }
    
            &-subtitle {
                font-size: 14px;
                font-weight: $bold;
                color: white;
                text-align: center; 
                &:after {
                    content: '';
                    display: flex;
                    margin: 20px auto 20px auto;
                    height: 4px;
                    width: 33px;
                    background: #fff;
                    /* position: absolute; */
                    transform: rotate(180deg);
                }
            }
    
            &-list {
                li {
                    margin-bottom: 15px;
                }
    
                li:nth-child(4) {
                    margin-bottom: 0px;
                }
            }
    
            &-toggle {
                & .toggle {
                    font-size: 12px;
                }
            }

    
            &-value {
                font-size: 14px;
                font-weight: $bold;
            }
    
            &-more {
                display: flex;
                color: white;
    
                li {
                    flex: 0 0 50%; 
                    & .results {
                        &-label {
                            font-size: 14px;
                            margin-bottom: 15px;
                            max-width: 130px;
                            line-height: 17px;
                        }
    
                        &-value {
                            font-size: 20px;
                            font-weight: $bold;
    
                            padding: 12px 12px 12px 0;
                        }
    
                        &-important {
                            background: $soxo-red;
                            border-radius: 12px 12px;
                            padding: 12px;
                            display: inline-flex;
                        }
                    }
    
    
                    &:first-child {
                        & .results {
                            &-label {
                                font-size: 14px;
                                margin-bottom: 15px;
                                
                                flex: wrap;
                            }
                        }
                    }
                }  
            }
        }
    }

    .callToAction {
        &-groupLinks:first-child {
            & > a { 
                &:before {
                    background: url('./../../images/download.svg') no-repeat center center;
                }
                
                &:last-child {
                    &:before {
                        background: url('./../../images/mail.svg') no-repeat center center;
                    }
                }
            }
        }
    }
}




// Usage
@media (max-width: $screen-md-max) { 

    #root > [data-reactroot] { 
        max-height: 100%;

        .simulator.chile {

            & .settings {
                flex: 0 0 60%;
                height: auto;
    
                & .container_simulator {
                    height: 100%;
                }

                &__block {
                    display: flex;
                    flex: none;
                    padding: 0 5px;
                    height: auto !important;
                }    
    
                &-salary {
                    background: $soxo-blue-light;
                    border-radius: 10px 10px;
                    padding: 20px 15px 35px 15px;
                    width: calc(100%);
                    height: 100%;
    
                    display: flex;
                    flex-direction: column;
    
                    & .simulator-label {
                        text-align: center;
                        color: $soxo-blue-ocean;
                        max-width: 100%;
                        padding: 0 0 40px 0;
                    }
                }
    
    
            }
    
            & .results { 
                 
                &-toggle {
                    & .toggle {
                        width: 136px;
                        font-size: 12px;
    
    
                        &:before {
                            width: 64px;
                        }
    
                        &-true,
                        &-false {
                            width: 64px;
                        }
    
                        &-checked {
                            &:before {
                                left: 64px;
                            }
                        }
                    }
                }
                
                &__mobile {
    
                    &_summary {
    
                        display: flex;
                        &_bar {
                            justify-content: start;
                        }
    
                        &_content {
                            color: white;
                            display: flex;
                            justify-content: center;
                            align-self: center;
                            margin: 0 auto;
                            &-text {
                                max-width: 70px;
                                font-size: 11px;
                                line-height: 15px;
                            }
    
    
                            &-percentage {
                                font-size: 30px;
                            }
    
                        }
                    }
    
                    &_full {    
                        & .bar  {
                            height: 200px;
                            margin: 30px 0 15px 0;
                        }
                    }
    
                    background-color: $soxo-blue;
                    display: block;
                }
            
    
                &-more {
                    display: flex;
                    color: white;
    
                    li {
                        flex: 0 0 50%; 
                        & .results {
                            &-label {
                                font-size: 12px;
                                margin-bottom: 15px;
                                max-width: 130px;
                                line-height: 17px;
                            }
    
                            &-value {
                                font-size: 14px;
                                font-weight: $bold;
    
                                padding: 12px 12px 12px 0;
                            }
    
                            &-important {
                                background: $soxo-red;
                                border-radius: 12px 12px;
                                padding: 14px;
                                display: inline-flex;
                            }
                        }
    
    
                        &:first-child {
                            & .results {
                                &-label {
                                    font-size: 12px;
                                    margin-bottom: 15px;
                                    max-width: 50px;
                                    flex: wrap;
                                }
                            }
                        }
                    }  
                }
            }
        }
    }
}
