.doughnut {
    // display: flex;
    // justify-content: center;
    position: relative;

    &_content {
        position: absolute;
        display: flex;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        top: calc(50% - 13px);
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        color: white;
    }

    path.color0 {
        fill: red;
    }
    path.color1 {
        fill: transparent;
    }

    svg {
        margin: 0 auto;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    
    svg.donut {
        z-index: 11
    }
    
    path.color2 {
        fill: white;
    }
    text.custom {
        font-size: 2em;
        font-weight: 400;
        line-height: 16em;
        fill: #fff;
    }

    text.percentage {
        font-size: 2em;
        font-weight: 400;
        line-height: 16em;
        fill: #fff;
    }
}