// Boxes

.sodexo-widget-boxes {
  display: block;
  width: 100%;

  .sodexo-widget-boxes-container {
    display: flex;
    justify-content: center;

    .box {
      max-width: 450px; // to delete
      text-align: center;
      margin: 5px;
      padding: 5px;
      background-color: #FFF;
      border: 1px solid #333;
      border-radius: 5px;

      .box-image {
        max-width: 100%;
        height: auto;
      }

      h3.box-title {
        text-transform: uppercase;
        font-size: 16px;
      }

      p.box-text {
        font-size: 12px;
      }

      .box-line {
        display: block;
        margin: 0 auto 15px auto;
        width: 30px;
        height: 2px;
        background-color: $color-sodexo-red;
      }
    }
  }
}
