@include media-breakpoint-up(lg) {

  body.home {
    .top_menu {
      margin-top:-66px;
    }
  }

}

.top_menu {

    & .top-menu {

        &--tabs {
            &_list {
                & li {
                    flex: 1;
                    padding: 0 15px;
                    list-style-type: none;

                    &:first-child() {
                        display: none;
                    }

                    & a {
                        height: 100%;
                        display: block;
                        position: relative;
                        font-size: 14px;
                        text-transform: uppercase;
                        text-decoration: none;
                        color: $color-sodexo-blue;

                        & span {
                            max-width: 100px;
                            display: block;
                            margin: 0 auto;
                            padding-bottom: 5px;
                            margin-bottom: 4px;
                        }

                        &.your-needs {
                            &::before {
                                content: "\e801";
                            }
                        }

                        &.meal-solutions {
                            &::before {
                                content: "\e800";
                            }
                        }

                        &.gift-solutions {
                            &::before {
                                content: "\e802";
                            }
                        }

                        &.leisure-offers {
                            &::before {
                                content: "\e825";
                            }
                        }

                        &.public-solutions {
                            &::before {
                                content: "\e803";
                            }
                        }

                        &.mobility-solutions {
                            &::before {
                                content: "\e804";
                            }
                        }

                        &::before {
                            font-family: 'soxo-icons';
                            font-weight: normal;
                            font-style: normal;
                            text-decoration: inherit;
                            font-size: 16px;

                            background: $color-blue-soxo;
                            color: $color-white;

                            border-radius: 50%;

                            height: 45px;
                            width: 45px;

                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }

                &.top-menu--homepage {
                    padding: 0;
                    display: flex;
                    background: transparent;

                    & li {
                        flex: 1;
                        text-align: center;

                        & a {
                          transition: all 0.6s;

                            &::before {
                                font-size: 45px;
                                border-radius: 50%;
                                border: $color-white solid 4px;
                                transition: all .6s;
                                height: 75px;
                                width: 75px;
                                margin: 0 auto 12px;
                            }

                            &:hover,
                            &.active {
                                margin-top: -10px;
                                background-size: 200%;

                                &::after {
                                    content: url('../images/wave-up.svg');
                                    width: 100%;
                                    position: absolute;
                                    display: block;
                                    top: -2px;
                                    height: 47px;
                                    z-index: -1;
                                }

                                &::before {
                                    background: linear-gradient(90deg, $color-amaranth 50%, $color-brick-red 51%);
                                    height: 90px;
                                    width: 90px;
                                }
                                & span {
                                    font-weight: bold;
                                    border-bottom: $color-amaranth solid 4px;
                                    margin-bottom: 0px;
                                    color: #000;

                                }
                            }
                        }
                    }
                }
            }
        }

        &--header {
            position: relative;
            margin: 50px 0 25px;

            display: block;
            width: 100%;

            padding: 0 25px;

            &_title p {
                text-align: center;
                display: none;
                font-size: 30px;
                font-weight: 300;
                &.active {
                    display: block;
                }
            }

            &_top-solution {
                position: absolute;
                top: 15px;

                text-decoration: none;
                cursor: pointer;

                font-size: 14px;
                i {
                    color: $color-blue-soxo;
                    &:before {
                        font-size : 30px;
                        top: 5px;
                        position: relative;
                        margin: 0;
                        padding: 0;
                    }
                }
                span {
                    color: $color-amaranth;
                }
            }
        }

        &--footer {
            a {
               position: absolute;
               right: 0px;
               bottom: 25px;

               color: #4D4D4F;
               border: 1px solid #C1C1C1;
            }
        }

        &--carousel {

            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;

            & > div {
                flex: 1;
            }

            &_slides {
                overflow: hidden;
            }

            &_indicators {
                position: relative;
                &.carousel-indicators {
                    display: block;
                    text-align: center;
                    li {
                        display: inline-block;
                        width: 14px;
                        height: 14px;
                        margin: 60px 0 0 0;
                        bottom: 0;
                        text-indent: -999px;
                        cursor: pointer;
                        background-color: #000\9;
                        background-color: rgba(0,0,0,0);
                        border: 1px solid $color-blue-soxo;
                        border-radius: 14px;
                        max-width: 14px;
                        &.active {
                            width: 14px;
                            height: 14px;
                            margin: 0;
                            background-color: $color-blue-soxo;
                        }

                        &:first-child() {
                            display: none;
                        }
                    }
                }
            }

            &_control {
                &-prev,
                &-next {
                    position: absolute;
                    i {
                        font-size: 50px;
                        color: #e5e5e5;
                        &:hover {
                            color: #4e7cbe;
                        }
                    }
                }

                &-prev {
                    left: -80px;
                }

                &-next {
                    right: -80px;
                }
            }

            & .carousel-slide {

                &_block {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    cursor: pointer;

                    background: $color-ebb;
                    border-radius: 20px;
                    min-height: 385px;

                    padding: 10px;

                    color: black;
                    text-decoration: none;

                    &_image {
                        text-align: center;
                        img {
                            max-width: auto;
                        }
                    }

                    &_content {
                        &-title {
                            text-align: center;
                            text-transform: uppercase;

                            color: $color-blue-soxo;
                            font-weight: 600;
                            font-size: 22px;

                            margin: 20px 0 23px 0;
                        }
                        &-text,
                        &-text p {
                            text-align: center;

                            font-size: 14px;
                        }
                    }
                }

                &.slides-count-1 {
                    & .carousel {
                        &-slide {
                            &_block {
                                img {
                                    max-width: 250px;
                                }

                                &_content {
                                    &-title {
                                        font-size: 18px;
                                    }
                                }
                            }
                        }
                    }
                }

                &.slides-count-2 {
                    & .carousel {
                        &-slide {
                            &_block {
                                &_image {
                                    img {
                                        max-width: 250px;
                                    }
                                }

                                &_content {
                                    &-title {
                                        font-size: 18px;
                                    }

                                    &-text {}
                                }
                            }
                        }
                    }
                }

                &.slides-count-3 {
                    & .carousel {
                        &-slide {
                            &_block {
                                &_image {
                                    img {
                                        max-width: 215px;
                                    }
                                }

                                &_content {
                                    &-title {
                                        font-size: 18px;
                                    }

                                    &-text {}
                                }
                            }
                        }
                    }
                }

                &.slides-count-4 {
                    & .carousel {
                        &-slide {
                            &_block {
                                &_image {
                                    img {
                                        max-width: 160px;
                                    }
                                }

                                &_content {
                                    &-title {
                                        font-size: 18px;
                                    }

                                    &-text {}
                                }
                            }
                        }
                    }
                }

                &.slides-count-5 {
                    & .carousel {
                        &-slide {
                            &_block {
                                &_image {

                                }

                                &_content {
                                    &-title {
                                        font-size: 18px;
                                    }

                                    &-text {}
                                }
                            }
                        }
                    }
                }

                &.slides-count-6 {
                    & .carousel {
                        &-slide {
                            &_block {
                                background: none;
                                &_image {
                                    img {
                                        border-radius: 10px;
                                    }
                                }

                                &_content {
                                    &-title {
                                        font-size: 16px;
                                    }

                                    &-text p {
                                        font-size: 12px;
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }

                &.your-needs {
                    & .carousel {
                        &-slide {
                            &_block {
                                padding: 0px;
                                background: none;

                                &_image {
                                    img {
                                        border-radius: 10px;
                                    }
                                }

                                &_content {
                                    &-title {
                                        font-size: 16px;
                                    }

                                    &-text {
                                        display: none;
                                    }
                                }
                            }
                        }
                    }
                }

                &.col-sm-6,
                &.col-sm-8 {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    &_image {
                        text-align: center;
                        img {
                            max-width: auto;
                        }
                    }

                }
            }
        }
    }

    @include media-breakpoint-between(xs, lg) {

        & .top-menu {

            &--tabs {
                display: none;
            }

            &--header {
                margin: 0;
                padding: 0 35px;
                &_top-solution {
                    position: relative;
                    top: 15px;

                    text-decoration: none;
                    cursor: pointer;

                    font-size: 14px;
                    i {
                        color: $color-blue-soxo;
                        padding-right: 10px;
                    }
                    span {
                        color: $color-amaranth;
                    }
                }

                &_title {
                    margin-top: 20px;
                }

            }

            &--footer {
                text-align: center;
                width: 100%;
                a {
                    position: relative;
                    right: 0;
                    top: 0
                }
            }

            &--carousel {

                &_control {
                    &-prev,
                    &-next {
                        display: none;
                    }
                }

                & .carousel-slide {
                    margin: 15px 0;

                    flex: 0 0 100%;
                    max-width: 100%;


                    &.slides-count-1,
                    &.slides-count-2,
                    &.slides-count-3,
                    &.slides-count-4,
                    &.slides-count-5,
                    &.slides-count-6 {
                        .carousel-slide_block {

                            display: flex;
                            align-items: center;
                            flex-direction: row;


                            cursor: pointer;

                            background: $color-ebb;
                            border-radius: 20px;

                            min-height: auto;

                            color: black;
                            text-decoration: none;

                            &_image {
                                text-align: center;
                                img {
                                    max-width: 160px;
                                    padding: 0 10px 0 0;
                                }
                            }

                            &_content {
                                &-title {
                                    text-align: left;
                                    text-transform: uppercase;

                                    color: $color-blue-soxo;
                                    font-weight: 600;
                                    font-size: 22px;

                                    margin: 20px 0 23px 0;
                                }
                                &-text,
                                &-text p {
                                    text-align: left;

                                    font-size: 14px;
                                }
                            }
                        }
                    }

                    &.slides-count-6 {
                        .carousel-slide_block {
                            background: none;
                        }
                    }

                    &.col-sm-6,
                    &.col-sm-8 {
                        .carousel-slide_block {
                            display: block;

                            &_image {
                                text-align: center;
                                img {
                                    max-width: 215px;
                                }
                            }

                            &_content {
                                &-title,
                                &-text,
                                &-text p {
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

.label-prize{
    background: $color-sodexo-red;
    border-radius: 0 0 28px 28px;
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    left: 40px;
    line-height: 1.2;
    padding: 8px 14px;
    position: absolute;
    text-transform: uppercase;
    text-align: center;
    top: 0;
    width: 76px;

    &:after{
        background: url( '../images/best-seller.svg' );
        background-size: cover;
        content: "";
        display: block;
        height: 32px;
        margin: 4px auto;
        width: 28px;
    }

}

.carousel-indicators{
    &.alt{
        li{
            background: none;
            border: 1px solid #fff;
            border-radius: 50%;
            display: block;
            flex-grow: 0;
            flex-shrink: 0;
            height: 12px;
            width: 12px;

            &.active{
                background: #fff;
            }
            & + li{
                margin-left: 5px;
            }
        }
    }
    &.in{
        margin: 40px auto;
        position: static;
    }
    &.filled{
        li{
            border-color: $color-sodexo-dark-blue;

            &.active{
                background: $color-sodexo-dark-blue;
            }
        }
    }
}
.big-arrows{
    .carousel-control-prev,
    .carousel-control-next{
        &:before,
        &:after{
            background: $color-sodexo-dark-blue;
            border-radius: 2px;
            content: "";
            display: block;
            height: 4px;
            left: 50%;
            position: absolute;
            top: 50%;
            width: 30px;
        }
        [aria-hidden="true"]{
            display: none;
        }
    }
    .carousel-control-prev{
        transform: scale( -1 );

        &:before{
            transform: rotate( -50deg ) translate( -50%, -50% );
        }
        &:after{
            transform: rotate( 50deg ) translate( -50%, calc( -50% + 3px)  );
        }
    }
    .carousel-control-next{
        &:before{
            transform: rotate( 50deg ) translate( -50%, -50% );
        }
        &:after{
            transform: rotate( -50deg ) translate( calc( -50% + 3px ), -50%  );
        }
    }
}
