// temp testimonials widget

.cross-sell {
  background-color: $color-sodexo-blue;
  overflow: hidden;

  &--container {
    &_title {
      text-align: center;
      a {
        text-decoration: none;
        color: #FFF;
        font-weight: 600;
        font-size: 20px;
        text-transform: uppercase;
      }
    }
    &_description p {
      color: #FFF;
      font-weight: 300;
      text-align: center;
      font-size: 18px;
    }
  }
}
