.discover-three-more {
    width: 100%;
    & .padding-zero {
        padding: 0;
    }

    &--block {
        background: #2c2455;

        &:nth-child(2) {
          background: #283897;

          .discover-three-more--container {
            &_image {
              &::after {
                content: url('../../assets/images/wave-blue.svg');
              }
            }
          }
        }
    }

    &--container {

        display: flex;
        flex-direction: column;

        &_image {
            text-align: center;
            position: relative;
            height: 500px;
            background-repeat: no-repeat;
            background-size: cover;

            &::after {
              display: block;
              width: 64px;
              height: 24px;
              content: url('../../assets/images/wave-dark-blue.svg');
              position: absolute;
              bottom: -1px;
              left: 0;
              right: 0;
              margin: 0 auto;
            }
        }

        &_content {
            color: $color-white;
            text-align: center;

            padding: 70px 60px;

            .content {
                &_title {
                    font-size: 30px;
                    &:after {
                        content: "";
                        display: block;
                        width: 40px;
                        height: 4px;
                        margin: 20px auto;
                        background-color: white;
                    }
                }

                &_description {
                    font-size: 16px;
                }

                &_link {
                    background-color: $color-white !important;
                    color: $color-blue-soxo;
                }
            }

        }
    }


}
