

.single-carousel {
    background: $color-amaranth;
    margin: 0 auto;
    padding: 70px 0;
    width: 100%;

    .carousel {
        padding: 0 30px;
        width: 100%;

        &-indicators {
            display: block;
            text-align: center;
            position: relative;
            margin: 0;
            bottom: 0;
            li {
                display: inline-block;
                width: 13px;
                height: 13px;
                margin: 0px 2px 0 2px;
                bottom: 0;
                text-indent: -999px;
                cursor: pointer;
                background-color: #000\9;
                background-color: rgba(0,0,0,0);
                border: 1px solid $color-white;
                border-radius: 13px;
                max-width: 13px;
                &.active {
                    width: 13px;
                    height: 13px;
                    margin: 0;
                    background-color: $color-white;
                }
            }
        }

        &-item {
            justify-content: center;
        }

        &-control {
            &-prev,
            &-next {
                //position: relative;
                width: auto;
            }
        }
    }

    &--container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        color: $color-white;
        padding: 0 70px;

        &_number {
            display: flex;
            flex-shrink: 0;

            & .number {
                &_value {
                    font-size: 185px;
                    align-self: flex-end;
                    line-height: 1;
                    margin: 0;

                    align-self: flex-end;
                }

                &_unit {
                    font-size: 70px;

                }
            }
        }

        &_text {
            align-self: flex-start;
            padding: 0 0 0 50px;
            a {
                color: $color-black;
            }
        }
    }

    &--cta {
        text-align: center;
        margin: 70px auto 80px;
        font-size: 16px;
        span {
            padding-right: 30px;
        }
        a {
            font-size: 18px;
        }
    }

    @include media-breakpoint-between(xs, md) {
        .single-carousel {
            &--container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                color: $color-white;
                text-align: center;
                margin-bottom: 37px;

                &_text {
                    padding: 0;

                    a {
                        font-size: 9px;
                    }
                }

                &_number {
                    display: flex;

                    & .number {
                        &_value {
                            font-size: 120px;
                        }

                        &_unit {
                            font-size: 70px;

                        }
                    }
                }

                .carousel {
                    padding: 0 30px;
                }
            }
        }
    }

    @include media-breakpoint-only(md) {

        .single-carousel {

             &--mobile {
                display: block;
                .carousel {
                    padding: 0 30px;

                    &-item {
                        .single-carousel--container {
                            padding: 20px 15px 20px;
                            width: 100%;

                            &_image {
                                height: 200px;
                                width: 100%;
                                img {
                                    max-height: 200px;
                                }
                            }

                            &_subtitle {
                                font-size: 22px;
                            }

                        }
                    }

                    &-indicators {
                        display: block;
                        text-align: center;
                        position: relative;
                        li {

                            width: 18px;
                            height: 18px;
                            margin: 0px 2px 0 2px;
                            bottom: 0;
                            text-indent: -999px;
                            cursor: pointer;
                            background-color: #000\9;
                            background-color: rgba(0,0,0,0);
                            border: 1px solid $color-white;
                            border-radius: 18px;
                            max-width: 18px;
                            &.active {
                                width: 18px;
                                height: 18px;
                                margin: 0;
                                background-color: $color-white;
                            }
                        }
                    }
                }
             }
        }

    }

    @include media-breakpoint-up(lg) {

        &--container{
            &_number{
                display: table;
                .number_value{
                    display: table-cell;
                }
            }

            &_text{
                font-size: 24px;
            }
        }
    }

    @include media-breakpoint-up(lg-max) {
        .single-carousel {

            .carousel {
                 padding: 0 30px;
            }

            &--container {
                &_text {
                    padding-top: 15px;
                }
            }

        }

    }

}
