// temp testimonials widget

.testimonials-popin {
  display: block;
  padding: 30px 0;
  width: 100%;

  .testimonials {
    display: block;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .testimonial-container {
      display: block;
      vertical-align: top;
      position: relative;
      width: 100%;
      height: 300px;

      .testimonial-image {
        position: relative;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;

        &::after {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          content: "";
          width: 100%;
          height: 100%;
          display: block;
          background-color: rgba(0, 0, 0, 0.4);
        }
      }

      .testimonial-content {
        padding: 30px;
        position: absolute;
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
        color: #FFF;

        .testimonial-quote {
          display: block;

          h3 {
            position: relative;
            display: inline;
            font-size: 18px;
            line-height: 24px;
            font-weight: normal;

            &::before,
            &::after {
              display: inline-block;
              font-weight: 600;
              content: "‘’";
              font-size: 25px;
            }
            &::before {
              top: 3px;
              left: 0px;
            }
            &::after {
              bottom: -7px;
            }

          }

        }

        a.btn-sodexo-testimonial {
          color: #4d4d4f;
          background-color: #FFF;
          border: 1px solid #FFF;
          margin-top: 20px;

          &:hover,
          &:focus {
            color: #FFF;
            background-color: rgba(255, 255, 255, 0);
          }

        }

        a.btn-play-video {
          position: relative;
          display: block;
          width: 42px;
          height: 42px;
          background: transparent url('../images/btn-play-video.svg') center center no-repeat;
          background-size: 42px 42px;
          margin-top: 20px;
        }
      }

    }

  }

  .testimonials-cta {
    text-align: center;
    .btn-sodexo {
      margin: 30px auto;
    }
  }

}


@include media-breakpoint-up(lg) {
  .testimonials-popin {
    .testimonials {
      .testimonial-container {
        .testimonial-content {
          .testimonial-quote {
            padding-right: 50px;
            h3 {
              font-size: 25px;
              &.quote-video {
                line-height: 30px;
              }
              &::before,
              &::after {
                font-size: 45px;
              }
              &::before {
                top: 10px;
                left: -5px;
              }
              &::after {
                bottom: -10px;
              }
            }
          }
          a.btn-play-video {
            position: absolute;
            right: 20px;
            bottom: 30px;
          }
        }
      }
    }
  }

  .testimonials {
    &.testimonialscount-1 {
      .testimonial-container {
        height: 600px;
      }
    }
  }

  .testimonials {
    &.testimonialscount-2 {
      .testimonial-container {
        width: 50%;
        height: 600px;
      }
    }
  }

  .testimonials {
    height: 600px;
    &.testimonialscount-3 {
      .testimonial-container {
        width: 50%;
        height: 300px;
        &:nth-child(1) {
          height: 600px;
        }
      }
    }
  }

  .testimonials {
    height: 740px;
    &.testimonialscount-4 {
      .testimonial-container {
        width: 50%;
        height: 470px;
        &:nth-child(2),
        &:nth-child(3) {
          height: 270px;
        }
      }
    }
  }

}
